assets-8RFmGQeeVQDiyMSK.json
{"createdAt":"2025-07-29T19:48:30.883Z","updatedAt":"2025-07-29T21:35:51.000Z","id":"8RFmGQeeVQDiyMSK","name":"Assets","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-336,-64],"id":"a079c9ce-a76e-4a60-8329-145b9f03047b","name":"When clicking ‘Execute workflow’"},{"parameters":{"jsCode":"const setCookieHeader = $json.headers['set-cookie'];\n\nconst jsession = setCookieHeader.find(c => c.startsWith('JSESSIONID=')).split(';')[0];\nconst serverid = setCookieHeader.find(c => c.startsWith('SERVERID=')).split(';')[0];\n\nreturn [\n  {\n    json: {\n      cookieHeader: `${jsession}; ${serverid}`\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[32,-64],"id":"3a60ab8e-19fc-4667-a2d8-2d9b7800e5e9","name":"Get cookie/sessionID's"},{"parameters":{"method":"POST","url":"https://pgam.sysaidit.com/api/v1/login","sendBody":true,"contentType":"raw","rawContentType":"application/JSON","body":"{   \"user_name\": \"Ratkinson\",   \"password\": \"Wizzy3004%25%5E%26\" }","options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-144,-64],"id":"4b17637c-fbde-4149-a72a-6c831b5ab041","name":"Login credentials","retryOnFail":true},{"parameters":{"url":"https://pgam.sysaidit.com/api/v1/asset","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Cookie","value":"={{ $json.cookieHeader }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[240,-64],"id":"60f02bf8-8db3-4d72-9719-313a1e55c6f4","name":"Assets"}],"connections":{"Login credentials":{"main":[[{"node":"Get cookie/sessionID's","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Login credentials","type":"main","index":0}]]},"Get cookie/sessionID's":{"main":[[{"node":"Assets","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"b7f012fb-12d4-4bdf-8c62-763a0b5cad07","triggerCount":0,"tags":[]}