backup-workflows-.json
{
  "createdAt": "2025-08-13T21:54:08.540Z",
  "updatedAt": "2025-08-13T21:54:08.540Z",
  "id": "t0glupR583FnPoY6",
  "name": "Backup Workflows",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "0afcef02-572b-4691-9be8-f644cfee3562",
      "name": "Set date",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -2032,
        320
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.currentDate }}",
        "format": "custom",
        "customFormat": "dd-MM-yyyy/H:mm",
        "options": {}
      },
      "id": "4db58857-db03-4b4a-818f-580b6767a765",
      "name": "Format date",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -1824,
        320
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "commitDate",
              "value": "={{ $json.formattedDate }}"
            }
          ]
        },
        "options": {}
      },
      "id": "185d8965-f8a6-45ce-8537-57f1732957d3",
      "name": "Set commit date",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -1632,
        320
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "ProgressiveJamaica",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "N8NWorkflowBackups",
          "mode": "list",
          "cachedResultName": "N8NWorkflowBackups",
          "cachedResultUrl": "https://github.com/ProgressiveJamaica/N8NWorkflowBackups"
        },
        "filePath": "="
      },
      "id": "c0e767dd-440c-4680-ade4-be84c0ea9437",
      "name": "List files from repository [GITHUB]",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -1424,
        320
      ],
      "alwaysOutputData": true,
      "webhookId": "06ca02be-cc32-47bb-bbb6-52e65efb6101",
      "retryOnFail": true,
      "credentials": {
        "githubApi": {
          "id": "v5PatSVdH1myUGBB",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "operation": "aggregateItems",
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "name"
            }
          ]
        },
        "options": {}
      },
      "id": "e875e783-df4d-41d8-a66a-425d3cb95a9d",
      "name": "Combine file names [GITHUB]",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 2.1,
      "position": [
        -1232,
        320
      ]
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "72bd80a3-844a-41f5-8502-95ab120acd09",
      "name": "Retrieve workflows [N8N]",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -1024,
        320
      ],
      "credentials": {
        "n8nApi": {
          "id": "dU7fuFsljXceW1xf",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "mode": "jsonToBinary",
        "options": {
          "fileName": "={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"
        }
      },
      "id": "c778a29c-b27a-4966-8989-520e0e7193b6",
      "name": "Move JSON to binary",
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1,
      "position": [
        -832,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node['Combine file names [GITHUB]'].json.name }}",
              "operation": "contains",
              "value2": "={{ $binary.data.fileName }}"
            }
          ]
        }
      },
      "id": "98450569-14f8-4162-aa85-218b80d6f352",
      "name": "Check if file exists in repository",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -320,
        240
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "ProgressiveJamaica",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "N8NWorkflowBackups",
          "mode": "list",
          "cachedResultName": "N8NWorkflowBackups",
          "cachedResultUrl": "https://github.com/ProgressiveJamaica/N8NWorkflowBackups"
        },
        "filePath": "={{ $binary.data.fileName }}",
        "binaryData": true,
        "commitMessage": "=backup-{{ $node['Set commit date'].json.commitDate }}"
      },
      "id": "93dd0b87-171d-46b6-9a8c-93c941b565e0",
      "name": "Update file [GITHUB]",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -128,
        48
      ],
      "webhookId": "9e22cefb-1540-4356-97b5-917d86366fe9",
      "retryOnFail": true,
      "credentials": {
        "githubApi": {
          "id": "v5PatSVdH1myUGBB",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "ProgressiveJamaica",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "N8NWorkflowBackups",
          "mode": "list",
          "cachedResultName": "N8NWorkflowBackups",
          "cachedResultUrl": "https://github.com/ProgressiveJamaica/N8NWorkflowBackups"
        },
        "filePath": "={{ $binary.data.fileName }}",
        "binaryData": true,
        "commitMessage": "=backup-{{ $node['Set commit date'].json.commitDate }}"
      },
      "id": "15827f85-6ab4-4e5a-9c46-642f1d56cac4",
      "name": "Upload file [GITHUB]",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -112,
        416
      ],
      "webhookId": "e362a3ca-afff-4978-85f4-7e8d8dbfdf9a",
      "retryOnFail": true,
      "credentials": {
        "githubApi": {
          "id": "v5PatSVdH1myUGBB",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "9f96b6ad-e91b-43fd-a244-3406d02529f3",
      "name": "Split to single items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        -544,
        320
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                0,
                1
              ],
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2240,
        320
      ],
      "id": "1a096909-b48c-4d56-827c-12b6a0cdc846",
      "name": "Schedule Trigger"
    }
  ],
  "connections": {
    "Set date": {
      "main": [
        [
          {
            "node": "Format date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format date": {
      "main": [
        [
          {
            "node": "Set commit date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set commit date": {
      "main": [
        [
          {
            "node": "List files from repository [GITHUB]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files from repository [GITHUB]": {
      "main": [
        [
          {
            "node": "Combine file names [GITHUB]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine file names [GITHUB]": {
      "main": [
        [
          {
            "node": "Retrieve workflows [N8N]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve workflows [N8N]": {
      "main": [
        [
          {
            "node": "Move JSON to binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move JSON to binary": {
      "main": [
        [
          {
            "node": "Split to single items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if file exists in repository": {
      "main": [
        [
          {
            "node": "Update file [GITHUB]",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload file [GITHUB]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update file [GITHUB]": {
      "main": [
        [
          {
            "node": "Split to single items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file [GITHUB]": {
      "main": [
        [
          {
            "node": "Split to single items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split to single items": {
      "main": [
        [
          {
            "node": "Check if file exists in repository",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "e88a1511-666f-4700-aeaf-17b027defaa1",
  "triggerCount": 0,
  "tags": []
}