backup-workflows-.json
{
  "createdAt": "2025-08-13T21:54:08.540Z",
  "updatedAt": "2025-09-24T16:40:53.997Z",
  "id": "t0glupR583FnPoY6",
  "name": "Backup Workflows",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "996fabde-59a8-4ee3-867f-916c39af9a59",
      "name": "Retrieve workflows",
      "type": "n8n-nodes-base.n8n",
      "position": [
        -880,
        912
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "dU7fuFsljXceW1xf",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "name"
            }
          ]
        },
        "options": {}
      },
      "id": "07ed4dbf-9c89-4d52-bd1e-f88e4aae57c5",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        -1040,
        912
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "ProgressiveJamaica",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "N8NWorkflowBackups",
          "mode": "list",
          "cachedResultName": "N8NWorkflowBackups",
          "cachedResultUrl": "https://github.com/ProgressiveJamaica/N8NWorkflowBackups"
        },
        "filePath": "="
      },
      "id": "004100bd-2049-4285-89f3-18ca52d94ba5",
      "name": "List files from repo",
      "type": "n8n-nodes-base.github",
      "position": [
        -1200,
        912
      ],
      "webhookId": "354d699e-44b0-4444-9d31-af7fd4ff5561",
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "githubApi": {
          "id": "v5PatSVdH1myUGBB",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "ProgressiveJamaica",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "N8NWorkflowBackups",
          "mode": "list",
          "cachedResultName": "N8NWorkflowBackups",
          "cachedResultUrl": "https://github.com/ProgressiveJamaica/N8NWorkflowBackups"
        },
        "filePath": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json",
        "fileContent": "={{ $('To base64').item.json.data }}",
        "commitMessage": "=backup-{{ $('Commit date & file name').item.json.commitDate }}"
      },
      "id": "0a70dae8-e91e-4942-ac78-dff3b2d75be3",
      "name": "Update file",
      "type": "n8n-nodes-base.github",
      "position": [
        -80,
        832
      ],
      "webhookId": "27218087-8df7-474d-a39f-70cfa9c34ec8",
      "typeVersion": 1,
      "retryOnFail": true,
      "credentials": {
        "githubApi": {
          "id": "v5PatSVdH1myUGBB",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "ProgressiveJamaica",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "N8NWorkflowBackups",
          "mode": "list",
          "cachedResultName": "N8NWorkflowBackups",
          "cachedResultUrl": "https://github.com/ProgressiveJamaica/N8NWorkflowBackups"
        },
        "filePath": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json",
        "fileContent": "={{ $('To base64').item.json.data }}",
        "commitMessage": "=backup-{{ $node['Commit date & file name'].json.commitDate }}"
      },
      "id": "507654a5-d0dd-4b40-ae2f-a468a47c3d4b",
      "name": "Upload file",
      "type": "n8n-nodes-base.github",
      "position": [
        -80,
        992
      ],
      "webhookId": "ce4b561b-acb9-4cd8-b76f-4928dada9674",
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "v5PatSVdH1myUGBB",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Aggregate').item.json.name }}",
              "operation": "contains",
              "value2": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json"
            }
          ]
        }
      },
      "id": "6542c86a-ac17-413d-b55c-c703d3301747",
      "name": "Check if file exists",
      "type": "n8n-nodes-base.if",
      "position": [
        -240,
        912
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true
        }
      },
      "id": "7200673d-6b34-4ca6-9da8-410af75cb14d",
      "name": "Json file",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        -720,
        912
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "id": "2882fabe-e519-45e6-84b9-4ea179ce9156",
      "name": "To base64",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        -560,
        912
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Retrieve previous file names from Github",
        "height": 380,
        "width": 300,
        "color": 5
      },
      "id": "42aa1b64-7b3e-42c7-98cc-eb70082df47e",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1216,
        784
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe4a36ef-9f04-40e3-99bd-cc517a49b440",
              "name": "commitDate",
              "type": "string",
              "value": "={{ $now.format('dd-MM-yyyy/H:mm') }}"
            },
            {
              "id": "b0fe1bcc-e79c-4a6b-b8b4-44222c8bf4e8",
              "name": "fileName",
              "type": "string",
              "value": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json"
            }
          ]
        },
        "options": {}
      },
      "id": "625bb12d-ecf8-4685-8f91-e9e24c894031",
      "name": "Commit date & file name",
      "type": "n8n-nodes-base.set",
      "position": [
        -400,
        912
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "### Retrieve and process workflows from n8n",
        "height": 380,
        "width": 460,
        "color": 3
      },
      "id": "62c802eb-afdf-4eed-8808-a88b44ffe486",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -896,
        784
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Commit + edit/create files if needed",
        "height": 380,
        "width": 460,
        "color": 4
      },
      "id": "26815f62-b0e0-43d4-aad9-5f282e178b43",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -416,
        784
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "9a4bfc35-32ce-485b-8daf-aedd6d4bd8ee",
      "name": "Schedule Trigger1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -1360,
        912
      ],
      "typeVersion": 1.2
    }
  ],
  "connections": {
    "Retrieve workflows": {
      "main": [
        [
          {
            "node": "Json file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Retrieve workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files from repo": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if file exists": {
      "main": [
        [
          {
            "node": "Update file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Json file": {
      "main": [
        [
          {
            "node": "To base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To base64": {
      "main": [
        [
          {
            "node": "Commit date & file name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit date & file name": {
      "main": [
        [
          {
            "node": "Check if file exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "List files from repo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "cc4e0097-7573-4fba-9ebb-4eb337b8e61c",
  "triggerCount": 0,
  "tags": []
}