backup-workflows-r5o2DUoSApxMmVCJ.json
{"createdAt":"2025-07-30T15:50:02.024Z","updatedAt":"2025-07-31T15:21:26.000Z","id":"r5o2DUoSApxMmVCJ","name":"Backup workflows","active":true,"isArchived":false,"nodes":[{"parameters":{"options":{}},"id":"052bb43a-4c14-4610-9757-fe84501a1633","name":"Set date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[48,368]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"0f47569b-c0d2-48b7-97ab-75e1f5be07d4","name":"Format date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[256,368]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"fe938653-68c0-4d5d-ac5c-07ba6011ca61","name":"Set commit date","type":"n8n-nodes-base.set","typeVersion":2,"position":[448,368]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"list","owner":{"__rl":true,"value":"ProgressiveJamaica","mode":"name"},"repository":{"__rl":true,"value":"N8NWorkflowBackups","mode":"list","cachedResultName":"N8NWorkflowBackups","cachedResultUrl":"https://github.com/ProgressiveJamaica/N8NWorkflowBackups"},"filePath":"="},"id":"d46e4fb2-ef9d-4887-bab7-fa2fd29ede4d","name":"List files from repository [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[656,368],"alwaysOutputData":true,"webhookId":"06ca02be-cc32-47bb-bbb6-52e65efb6101","retryOnFail":true,"credentials":{"githubOAuth2Api":{"id":"bcmWqt4zanThuaqf","name":"GitHub account"}}},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"a484477b-529d-4b48-823c-e510105395e9","name":"Combine file names [GITHUB]","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[848,368]},{"parameters":{"filters":{},"requestOptions":{}},"id":"d3eeeda0-0df2-4b6b-b19f-d52432e39eaa","name":"Retrieve workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[1056,368],"credentials":{"n8nApi":{"id":"0Zomg0yKIWdNghRF","name":"n8n account"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"5e03f487-2859-42f4-842d-27928c117a14","name":"Move JSON to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[1248,368]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine file names [GITHUB]'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"e95a3520-5dfb-4b77-93f7-c3b200b66e2d","name":"Check if file exists in repository","type":"n8n-nodes-base.if","typeVersion":1,"position":[1760,288]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":{"__rl":true,"value":"ProgressiveJamaica","mode":"name"},"repository":{"__rl":true,"value":"N8NWorkflowBackups","mode":"list","cachedResultName":"N8NWorkflowBackups","cachedResultUrl":"https://github.com/ProgressiveJamaica/N8NWorkflowBackups"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"54230055-c229-4423-aa46-30d5a438ca7f","name":"Update file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[1952,96],"webhookId":"9e22cefb-1540-4356-97b5-917d86366fe9","retryOnFail":true,"credentials":{"githubOAuth2Api":{"id":"bcmWqt4zanThuaqf","name":"GitHub account"}}},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"ProgressiveJamaica","mode":"name"},"repository":{"__rl":true,"value":"N8NWorkflowBackups","mode":"list","cachedResultName":"N8NWorkflowBackups","cachedResultUrl":"https://github.com/ProgressiveJamaica/N8NWorkflowBackups"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"3558f7ae-0914-4bd9-8d67-5c0221d3082e","name":"Upload file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[1968,464],"webhookId":"e362a3ca-afff-4978-85f4-7e8d8dbfdf9a","retryOnFail":true,"credentials":{"githubOAuth2Api":{"id":"bcmWqt4zanThuaqf","name":"GitHub account"}}},{"parameters":{"batchSize":1,"options":{}},"id":"fee03635-3efd-40b3-bd3c-a345f571c992","name":"Split to single items","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[1536,368]},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[0,1]}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-160,368],"id":"6f64944e-0b96-4a13-8ab5-74106f4f19c8","name":"Schedule Trigger"}],"connections":{"Set date":{"main":[[{"node":"Format date","type":"main","index":0}]]},"Format date":{"main":[[{"node":"Set commit date","type":"main","index":0}]]},"Set commit date":{"main":[[{"node":"List files from repository [GITHUB]","type":"main","index":0}]]},"List files from repository [GITHUB]":{"main":[[{"node":"Combine file names [GITHUB]","type":"main","index":0}]]},"Combine file names [GITHUB]":{"main":[[{"node":"Retrieve workflows [N8N]","type":"main","index":0}]]},"Retrieve workflows [N8N]":{"main":[[{"node":"Move JSON to binary","type":"main","index":0}]]},"Move JSON to binary":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Check if file exists in repository":{"main":[[{"node":"Update file [GITHUB]","type":"main","index":0}],[{"node":"Upload file [GITHUB]","type":"main","index":0}]]},"Update file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Upload file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Split to single items":{"main":[[{"node":"Check if file exists in repository","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Set date","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"96c0a119-dfdc-4124-9d86-4bbb5aa45c92","triggerCount":1,"tags":[]}