filtered-records-unRtCIdKXng0zVO0.json
{"createdAt":"2025-07-31T13:38:52.932Z","updatedAt":"2025-07-31T21:12:40.000Z","id":"unRtCIdKXng0zVO0","name":"Filtered records","active":false,"isArchived":false,"nodes":[{"parameters":{"jsCode":"const setCookieHeader = $json.headers['set-cookie'];\n\nconst jsession = setCookieHeader.find(c => c.startsWith('JSESSIONID=')).split(';')[0];\nconst serverid = setCookieHeader.find(c => c.startsWith('SERVERID=')).split(';')[0];\n\nreturn [\n  {\n    json: {\n      cookieHeader: `${jsession}; ${serverid}`\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-496,16],"id":"3f716217-72f8-4eeb-96ac-d876db3fceba","name":"Get cookie/sessionID's"},{"parameters":{"method":"POST","url":"https://pgam.sysaidit.com/api/v1/login","sendBody":true,"contentType":"raw","rawContentType":"application/JSON","body":"{   \"user_name\": \"Ratkinson\",   \"password\": \"Wizzy3004%25%5E%26\" }","options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-672,16],"id":"c77617f2-506f-459f-8308-d73e55eb818b","name":"Login credentials","retryOnFail":true},{"parameters":{"url":"https://pgam.sysaidit.com/api/v1/sr?limit=20","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Cookie","value":"={{ $('Get cookie/sessionID\\'s').item.json.cookieHeader }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-288,16],"id":"77641aff-f761-42c6-9c65-50b16d10796c","name":"ApiTickets","retryOnFail":true},{"parameters":{"authentication":"serviceAccount","operation":"appendOrUpdate","documentId":{"__rl":true,"value":"117E9W7q0sZzQ5JM5Pt1cclrYUk-Gx_h9X3Wf7N5Xef0","mode":"id"},"sheetName":{"__rl":true,"value":360138447,"mode":"list","cachedResultName":"Filtered","cachedResultUrl":"https://docs.google.com/spreadsheets/d/117E9W7q0sZzQ5JM5Pt1cclrYUk-Gx_h9X3Wf7N5Xef0/edit#gid=360138447"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["TicketID"],"schema":[{"id":"TicketID","displayName":"TicketID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Category","displayName":"Category","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Sub Category","displayName":"Sub Category","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Title","displayName":"Title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Applicant","displayName":"Applicant","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Responsibility","displayName":"Responsibility","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Priority","displayName":"Priority","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Request time","displayName":"Request time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Location","displayName":"Location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"hash","displayName":"hash","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"cellFormat":"RAW"}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[160,16],"id":"e52b1a3f-2a50-4622-a9f4-e53f38a2f69d","name":"Append or update row in sheet","retryOnFail":true,"credentials":{"googleApi":{"id":"yW4wsBNp1riA7tC9","name":"Google Service Account account"}}},{"parameters":{"jsCode":"function simpleHash(obj) {\n  const str = JSON.stringify(obj);\n  let hash = 0, i, chr;\n  for (i = 0; i < str.length; i++) {\n    chr = str.charCodeAt(i);\n    hash = ((hash << 5) - hash) + chr;\n    hash |= 0;\n  }\n  return hash.toString();\n}\n\nfunction getValueCaption(infoArray, possibleKeys) {\n  for (const key of possibleKeys) {\n    const match = infoArray.find(e => e.key?.toLowerCase() === key.toLowerCase());\n    if (match) return match.valueCaption || \"\";\n  }\n  return \"\";\n}\n\nreturn items.map(item => {\n  const info = item.json.info || [];\n\n  const title = getValueCaption(info, [\"title\", \"Title\"])\n  const thirdLevelCat  = getValueCaption(info, [\"third_level_category\", \"Third Level Category\"]);\n  const responsibility = getValueCaption(info, [\"responsibility\", \"Responsibility\"]);\n  const category = getValueCaption(info, [\"problem_type\", \"Category\"]);\n  const subCategory    = getValueCaption(info, [\"problem_sub_type\", \"Sub Category\"]);\n  const difficulty     = getValueCaption(info,  [\"cust_list1\", \"Difficulty Category\"]);\n  const user      = getValueCaption(info, [\"submit_user\", \"Submit user\"]);\n  const status    = getValueCaption(info, [\"status\", \"Status\"]);\n  const priority  = getValueCaption(info, [\"priority\", \"Priority\"]);\n  const impact    = getValueCaption(info, [\"impact\", \"Impact\"]);\n  const location  = getValueCaption(info, [\"Location\", \"Location\"]);\n  const reqTime   = getValueCaption(info, [\"Request time\", \"insert_time\", \"Request Time\"]);\n  const mainCI    = getValueCaption(info, [\"ci\", \"Main CI\"]);\n\n  const hashBase = {\n    Category: category,\n    \"Sub Category\":subCategory,\n    Title: title,\n    Status: status,\n    Applicant: user,\n    Responsibility: responsibility,\n    Priority: priority,\n    \"Request time\": reqTime,\n    /**\n    \"Third Level Category\":thirdLevelCat,\n    \"Difficulty Category\":difficulty,\n    Impact: impact,\n    **/\n    Location: location,\n    //\"Main CI\": mainCI,\n  };\n\n  return {\n  json: {\n    TicketID: item.json.id?.toString() || \"\",\n    ...hashBase,\n    //hashBase: JSON.stringify(hashBase),  // <== Add this\n    hash: simpleHash(hashBase),\n    //_source: \"api\"\n  }\n};\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-80,16],"id":"1f0e3ac8-217c-4021-a139-0eef4d064535","name":"API Ticket Hash"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-864,16],"id":"a6b1f133-8624-4a6a-826d-22539c935728","name":"When clicking ‘Execute workflow’"}],"connections":{"Login credentials":{"main":[[{"node":"Get cookie/sessionID's","type":"main","index":0}]]},"ApiTickets":{"main":[[{"node":"API Ticket Hash","type":"main","index":0}]]},"API Ticket Hash":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]},"Get cookie/sessionID's":{"main":[[{"node":"ApiTickets","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Login credentials","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"2a56df1c-18ae-466d-9157-fa377566102f","triggerCount":0,"tags":[]}