open-ticket-data-.json
{
  "createdAt": "2025-08-13T21:51:30.482Z",
  "updatedAt": "2025-09-24T16:41:13.771Z",
  "id": "anJhLUN0JjdpG2ht",
  "name": "Open Ticket Data",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://pgam.sysaidit.com/api/v1/login",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/JSON",
        "body": "{   \"user_name\": \"Ratkinson\",   \"password\": \"Sashee1234%25%5E%26\" }",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -752,
        512
      ],
      "id": "4e560841-dfa4-470f-8d7a-e4fc8d3e03d8",
      "name": "Login credentials",
      "retryOnFail": true
    },
    {
      "parameters": {
        "url": "=https://pgam.sysaidit.com/api/v1/sr?{{ $json.id }}={{ $json.New }},{{ $json.Open }},{{ $json.Pending }},{{ $json.Postponed }},{{ $json[\"User Responded\"] }},{{ $json[\"Pending: Waiting on Hardware\"] }},{{ $json[\"Pending: Waiting on External Party\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "={{ $('SessionID').item.json.headers[\"set-cookie\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        176,
        128
      ],
      "id": "3cf9c342-a289-4ed9-bdc1-2ff6bb6fb90a",
      "name": "ApiTickets",
      "retryOnFail": true
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "117E9W7q0sZzQ5JM5Pt1cclrYUk-Gx_h9X3Wf7N5Xef0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1484546938,
          "mode": "list",
          "cachedResultName": "Open Ticket Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/117E9W7q0sZzQ5JM5Pt1cclrYUk-Gx_h9X3Wf7N5Xef0/edit#gid=1484546938"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "TicketID"
          ],
          "schema": [
            {
              "id": "TicketID",
              "displayName": "TicketID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Request Time",
              "displayName": "Request Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Applicant",
              "displayName": "Applicant",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Responsibility",
              "displayName": "Responsibility",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Priority",
              "displayName": "Priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Sub Category",
              "displayName": "Sub Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Third Level Category",
              "displayName": "Third Level Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Difficulty Category",
              "displayName": "Difficulty Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Impact",
              "displayName": "Impact",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Main CI",
              "displayName": "Main CI",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Max Support Level",
              "displayName": "Max Support Level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Resolution",
              "displayName": "Resolution",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "SR Custom List 2",
              "displayName": "SR Custom List 2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Parent ID",
              "displayName": "Parent ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Solution",
              "displayName": "Solution",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Request User Manager",
              "displayName": "Request User Manager",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Survey Status",
              "displayName": "Survey Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Weight",
              "displayName": "Weight",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Followup Planned Date",
              "displayName": "Followup Planned Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "SR Custom Int 2",
              "displayName": "SR Custom Int 2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "SR Custom Date 1",
              "displayName": "SR Custom Date 1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "SR Custom Int 1",
              "displayName": "SR Custom Int 1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Reopen Counter",
              "displayName": "Reopen Counter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "SR Custom Date 2",
              "displayName": "SR Custom Date 2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Archive",
              "displayName": "Archive",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Close time",
              "displayName": "Close time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Merged service records",
              "displayName": "Merged service records",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Version",
              "displayName": "Version",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Is Escalated",
              "displayName": "Is Escalated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Closure Information",
              "displayName": "Closure Information",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Assigned Counter",
              "displayName": "Assigned Counter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Alert",
              "displayName": "Alert",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Main task",
              "displayName": "Main task",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Request username",
              "displayName": "Request username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Followup User",
              "displayName": "Followup User",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Workaround",
              "displayName": "Workaround",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Current Support Level",
              "displayName": "Current Support Level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Modify time",
              "displayName": "Modify time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Success Rating",
              "displayName": "Success Rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Modify User",
              "displayName": "Modify User",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "SR Custom Notes",
              "displayName": "SR Custom Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Followup Text",
              "displayName": "Followup Text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email Account",
              "displayName": "Email Account",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Urgency",
              "displayName": "Urgency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Request user",
              "displayName": "Request user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Sub Type",
              "displayName": "Sub Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Followup Actual Date",
              "displayName": "Followup Actual Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Department",
              "displayName": "Department",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Asset ID",
              "displayName": "Asset ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CC",
              "displayName": "CC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Time to Repair",
              "displayName": "Time to Repair",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Main Asset",
              "displayName": "Main Asset",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Time to Respond",
              "displayName": "Time to Respond",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Due Date",
              "displayName": "Due Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "SR Custom Text 1",
              "displayName": "SR Custom Text 1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "SR Custom Text 2",
              "displayName": "SR Custom Text 2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Merged to",
              "displayName": "Merged to",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Account",
              "displayName": "Account",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Escalation Level",
              "displayName": "Escalation Level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Classification",
              "displayName": "Classification",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Admin group",
              "displayName": "Admin group",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Service Record Type",
              "displayName": "Service Record Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Store",
              "displayName": "Store",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Owner",
              "displayName": "Owner",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "=USER_ENTERED"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -176,
        816
      ],
      "id": "4780da87-23b1-450e-8c37-105d84702f4d",
      "name": "Append or update row in sheet",
      "retryOnFail": true,
      "executeOnce": false,
      "credentials": {
        "googleApi": {
          "id": "Fr8gBQ8Q5zSOdGfU",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://pgam.sysaidit.com/api/v1/list/status?entity=sr",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "={{ $json.headers[\"set-cookie\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -224,
        128
      ],
      "id": "cb95323d-fd27-46d5-98f0-f2f140b5a755",
      "name": "Get Status List",
      "retryOnFail": true
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "117E9W7q0sZzQ5JM5Pt1cclrYUk-Gx_h9X3Wf7N5Xef0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1484546938,
          "mode": "list",
          "cachedResultName": "Open Ticket Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/117E9W7q0sZzQ5JM5Pt1cclrYUk-Gx_h9X3Wf7N5Xef0/edit#gid=1484546938"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        80,
        816
      ],
      "id": "5a1eaebd-ef02-4c43-bc9f-5ddd9b56a93b",
      "name": "SheetRow",
      "retryOnFail": true,
      "executeOnce": true,
      "credentials": {
        "googleApi": {
          "id": "Fr8gBQ8Q5zSOdGfU",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const apiTicketIds = new Set(\n  $items(\"Api Tickets\").map(item => String(item.json.TicketID).trim())\n);\n\nconst closedTickets = $items(\"Sheet Tickets\").filter(item => {\n  const sheetTicketId = String(item.json.TicketID).trim();\n  return !apiTicketIds.has(sheetTicketId);\n});\n\nreturn closedTickets.map(item => ({\n  json: {\n    TicketID: item.json.TicketID,\n    rowIndex: item.json.row_number\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        496
      ],
      "id": "4a9bbfaf-ee1c-44a7-91d1-7ae9b2457a56",
      "name": "Find Closed Tickets",
      "retryOnFail": true,
      "executeOnce": true,
      "alwaysOutputData": false
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        688,
        496
      ],
      "id": "c3cd5ed3-f2ba-47a4-a532-4d24c1a3a835",
      "name": "Merge"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -960,
        512
      ],
      "id": "e952a30a-c99b-4ea6-a122-8403e5b4cbfd",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2a3416bc-2cdf-405b-9fe1-59c4e75cc779",
              "name": "headers[\"set-cookie\"]",
              "value": "={{ $json.headers[\"set-cookie\"] }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -528,
        512
      ],
      "id": "e9f7e11f-9621-4699-8062-fb87523dadbe",
      "name": "SessionID"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "121fd8d7-b3c8-4c1f-8174-7191e3296ebe",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "2a3416bc-2cdf-405b-9fe1-59c4e75cc779",
              "name": "New",
              "value": "={{ $json.values[0].id }}",
              "type": "string"
            },
            {
              "id": "a24b9284-a061-49a1-a347-e89a56d911af",
              "name": "Open",
              "value": "={{ $json.values[1].id }}",
              "type": "string"
            },
            {
              "id": "271ad820-68cf-4fb7-a788-73aa59e7d311",
              "name": "Pending",
              "value": "={{ $json.values[3].id }}",
              "type": "string"
            },
            {
              "id": "49c5255d-5fd9-444d-8955-a34da8c91048",
              "name": "Postponed",
              "value": "={{ $json.values[4].id }}",
              "type": "string"
            },
            {
              "id": "155b7801-6975-45fb-847a-2c16fcf25c1b",
              "name": "User Responded",
              "value": "={{ $json.values[5].id }}",
              "type": "string"
            },
            {
              "id": "3e81a548-2b3b-4e57-b612-e6490ba49918",
              "name": "Pending: Waiting on Hardware",
              "value": "={{ $json.values[6].id }}",
              "type": "string"
            },
            {
              "id": "82773f4a-f713-4010-8eef-815939530544",
              "name": "Pending: Waiting on External Party",
              "value": "={{ $json.values[7].id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -32,
        128
      ],
      "id": "cd0a0e7c-34df-4978-942e-977574502c43",
      "name": "Open Status"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "32589481-9a7c-4e75-a669-e39fb51f5646",
              "name": "row_number",
              "value": "={{ $json.row_number }}",
              "type": "number"
            },
            {
              "id": "d04899ee-a706-486b-b54b-2fcbca942c5a",
              "name": "TicketID",
              "value": "={{ $json.TicketID }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        352,
        816
      ],
      "id": "52222131-5e9b-411e-95ab-4dad2c851399",
      "name": "Sheet Tickets"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0670735d-0e05-499a-b38c-9be4a6a1bfbe",
              "name": "TicketID",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "647c1ab6-6351-439e-93b1-df8c058da61d",
              "name": "Request Time",
              "value": "={{ $json.info[34].valueCaption }}",
              "type": "string"
            },
            {
              "id": "b166e9a5-100e-44da-9e5f-e3978761f8b2",
              "name": "Applicant",
              "value": "={{ $json.info[13].valueCaption }}",
              "type": "string"
            },
            {
              "id": "51b9dc8d-bb63-468e-9821-6d7559d51c1a",
              "name": "Responsibility",
              "value": "={{ $json.info[47].valueCaption }}",
              "type": "string"
            },
            {
              "id": "485b9ef6-c150-4ec0-83d8-91a35a9baf11",
              "name": "Status",
              "value": "={{ $json.info[31].valueCaption }}",
              "type": "string"
            },
            {
              "id": "6668c95e-cdd5-4ec5-9e33-8d7c65d3d40c",
              "name": "Priority",
              "value": "={{ $json.info[23].valueCaption }}",
              "type": "string"
            },
            {
              "id": "0ddc4d38-d18c-4389-94b7-7ee9b9806ba1",
              "name": "Category",
              "value": "={{ $json.info[29].valueCaption }}",
              "type": "string"
            },
            {
              "id": "ded72416-9e1b-4818-983f-f56fae7c460b",
              "name": "Sub Category",
              "value": "={{ $json.info[32].valueCaption }}",
              "type": "string"
            },
            {
              "id": "a56521e7-cf28-454b-bd16-5c606cceb58c",
              "name": "Third Level Category",
              "value": "={{ $json.info[0].valueCaption }}",
              "type": "string"
            },
            {
              "id": "b920c143-f5cf-4dcf-908d-a38d2f31b461",
              "name": "Difficulty Category",
              "value": "={{ $json.info[1].valueCaption }}",
              "type": "string"
            },
            {
              "id": "4abc38ba-4d51-4130-ba71-d218a93402fe",
              "name": "Impact",
              "value": "={{ $json.info[18].valueCaption }}",
              "type": "string"
            },
            {
              "id": "7a075b1e-17a2-4292-b885-82d987e1fe4a",
              "name": "Location",
              "value": "={{ $json.info[67].valueCaption }}",
              "type": "string"
            },
            {
              "id": "508433b4-70bd-460d-98fa-b6c337787727",
              "name": "Main CI",
              "value": "={{ $json.info[58].valueCaption }}",
              "type": "string"
            },
            {
              "id": "68ad7c7a-9316-4fd8-a405-6b9a055e35a3",
              "name": "Title",
              "value": "={{ $json.info[36].valueCaption }}",
              "type": "string"
            },
            {
              "id": "0de8640b-5e12-42c2-94d2-78bef00e1e67",
              "name": "Max Support Level",
              "value": "={{ $json.info[2].valueCaption }}",
              "type": "string"
            },
            {
              "id": "53ffeca0-bce2-40ab-b170-890ba3b16589",
              "name": "Source",
              "value": "={{ $json.info[4].valueCaption }}",
              "type": "string"
            },
            {
              "id": "0c60de7f-7bfd-47fc-b834-cf5a9e760a03",
              "name": "Resolution",
              "value": "={{ $json.info[5].valueCaption }}",
              "type": "string"
            },
            {
              "id": "33a1740d-4662-4264-b214-d57fb618a9bf",
              "name": "SR Custom List 2",
              "value": "={{ $json.info[6].valueCaption }}",
              "type": "string"
            },
            {
              "id": "36bb18c9-1724-45b4-8f5d-0029aefd6caf",
              "name": "Parent ID",
              "value": "={{ $json.info[7].valueCaption }}",
              "type": "string"
            },
            {
              "id": "0228e776-d44a-47db-9adb-8aa260ebabe9",
              "name": "Solution",
              "value": "={{ $json.info[8].valueCaption }}",
              "type": "string"
            },
            {
              "id": "fadc6ff9-2041-4694-85c1-5a66c44e9f66",
              "name": "Request User Manager",
              "value": "={{ $json.info[9].valueCaption }}",
              "type": "string"
            },
            {
              "id": "0e04f531-f5d0-4a1b-aac5-a221f06dfecb",
              "name": "Survey Status",
              "value": "={{ $json.info[10].valueCaption }}",
              "type": "string"
            },
            {
              "id": "50ba1bfb-2af3-4ff0-be9e-a1949f66039a",
              "name": "Weight",
              "value": "={{ $json.info[11].valueCaption }}",
              "type": "string"
            },
            {
              "id": "c9c12a3f-8661-4d36-8ee3-f459f231370e",
              "name": "Followup Planned Date",
              "value": "={{ $json.info[12].valueCaption }}",
              "type": "string"
            },
            {
              "id": "181cb52b-9083-4f45-a126-2106fbb32e8b",
              "name": "SR Custom Int 2",
              "value": "={{ $json.info[14].valueCaption }}",
              "type": "string"
            },
            {
              "id": "01142cb5-41fb-4be0-9999-98aaa02a2a6b",
              "name": "SR Custom Date 1",
              "value": "={{ $json.info[15].valueCaption }}",
              "type": "string"
            },
            {
              "id": "da35bb25-e4f1-4f1b-8786-e3519ed99e60",
              "name": "SR Custom Int 1",
              "value": "={{ $json.info[16].valueCaption }}",
              "type": "string"
            },
            {
              "id": "8641f86b-7d84-484a-a591-ad1a6209857a",
              "name": "Reopen Counter",
              "value": "={{ $json.info[19].valueCaption }}",
              "type": "string"
            },
            {
              "id": "e3a97691-26d2-47f4-8c6f-b9e502f779f4",
              "name": "SR Custom Date 2",
              "value": "={{ $json.info[20].valueCaption }}",
              "type": "string"
            },
            {
              "id": "2d0ca64c-db3d-44ed-91a1-4b2a5e7cc711",
              "name": "Archive",
              "value": "={{ $json.info[21].valueCaption }}",
              "type": "string"
            },
            {
              "id": "f1630782-959b-4bbf-9c9c-c3ecad0a27ad",
              "name": "Close time",
              "value": "={{ $json.info[22].valueCaption }}",
              "type": "string"
            },
            {
              "id": "8608f76d-0244-45d7-aee1-d563029d391d",
              "name": "Merged service records",
              "value": "={{ $json.info[24].valueCaption }}",
              "type": "string"
            },
            {
              "id": "54c6bc4a-6803-4f48-b569-16d8d9b68e14",
              "name": "Version",
              "value": "={{ $json.info[25].valueCaption }}",
              "type": "string"
            },
            {
              "id": "a81e7987-abe9-4757-9593-1a022e82ee52",
              "name": "Is Escalated",
              "value": "={{ $json.info[26].valueCaption }}",
              "type": "string"
            },
            {
              "id": "4ab7d8ee-18e9-47a6-a0d1-4caf2e8233d5",
              "name": "Closure Information",
              "value": "={{ $json.info[27].valueCaption }}",
              "type": "string"
            },
            {
              "id": "6db0dcdb-fb60-4e99-90fc-7930bb33f908",
              "name": "Assigned Counter",
              "value": "={{ $json.info[28].valueCaption }}",
              "type": "string"
            },
            {
              "id": "2a331ef9-81aa-452b-80cf-0182a7c13a6c",
              "name": "Alert",
              "value": "={{ $json.info[30].valueCaption }}",
              "type": "string"
            },
            {
              "id": "b8fb23f7-e0e2-405a-a5b2-72e575af95b4",
              "name": "Description",
              "value": "={{ $json.info[33].valueCaption }}",
              "type": "string"
            },
            {
              "id": "be9a8b97-9172-462a-b715-66e519c3d9a1",
              "name": "Main task",
              "value": "={{ $json.info[35].valueCaption }}",
              "type": "string"
            },
            {
              "id": "20bc0279-7ca2-416b-93a8-d970280f32a3",
              "name": "Request username",
              "value": "={{ $json.info[37].valueCaption }}",
              "type": "string"
            },
            {
              "id": "2e58dcc9-5945-4349-840a-e2a91af683e6",
              "name": "Followup User",
              "value": "={{ $json.info[38].valueCaption }}",
              "type": "string"
            },
            {
              "id": "5d907163-9d70-4a2d-9c0f-b55cf9167c0f",
              "name": "Workaround",
              "value": "={{ $json.info[39].valueCaption }}",
              "type": "string"
            },
            {
              "id": "cb7f3f36-d32b-4d87-8112-2a80b77a4d0d",
              "name": "Current Support Level",
              "value": "={{ $json.info[40].valueCaption }}",
              "type": "string"
            },
            {
              "id": "5506a357-e5f6-42a6-a6d6-a94253d23693",
              "name": "Modify time",
              "value": "={{ $json.info[41].valueCaption }}",
              "type": "string"
            },
            {
              "id": "12a76b2b-c8f6-416e-98e5-28b4ee6446aa",
              "name": "Success Rating",
              "value": "={{ $json.info[42].valueCaption }}",
              "type": "string"
            },
            {
              "id": "b178e47e-a3d2-4aa9-bebf-894c63e26c1c",
              "name": "Modify User",
              "value": "={{ $json.info[43].valueCaption }}",
              "type": "string"
            },
            {
              "id": "65ba2121-422a-43d3-bedb-843807b11892",
              "name": "SR Custom Notes",
              "value": "={{ $json.info[44].valueCaption }}",
              "type": "string"
            },
            {
              "id": "1d5b312e-d214-43b8-bf27-6f9e6878cf24",
              "name": "Followup Text",
              "value": "={{ $json.info[45].valueCaption }}",
              "type": "string"
            },
            {
              "id": "09a4e1d0-dbb4-4b82-81ac-62f3795c1ed3",
              "name": "Email Account",
              "value": "={{ $json.info[46].valueCaption }}",
              "type": "string"
            },
            {
              "id": "eaf9c7fe-4f4a-413b-a68a-3a401338ad39",
              "name": "Urgency",
              "value": "={{ $json.info[48].valueCaption }}",
              "type": "string"
            },
            {
              "id": "c19d7245-967b-4226-8d0e-640ba11babe4",
              "name": "Request user",
              "value": "={{ $json.info[49].valueCaption }}",
              "type": "string"
            },
            {
              "id": "0d046138-93c4-4368-bd2a-eed52b70f682",
              "name": "Sub Type",
              "value": "={{ $json.info[50].valueCaption }}",
              "type": "string"
            },
            {
              "id": "5b0349bb-260e-4c8d-b342-ca9f4e4947cd",
              "name": "Followup Actual Date",
              "value": "={{ $json.info[51].valueCaption }}",
              "type": "string"
            },
            {
              "id": "949d15a2-4cef-4f8d-a67f-16c3b223694a",
              "name": "Department",
              "value": "={{ $json.info[52].valueCaption }}",
              "type": "string"
            },
            {
              "id": "8836e2df-37ea-488f-baa5-43a344e523f2",
              "name": "Asset ID",
              "value": "={{ $json.info[53].valueCaption }}",
              "type": "string"
            },
            {
              "id": "bf0907db-81e5-41ad-bb84-7c3ebabc9bd0",
              "name": "CC",
              "value": "={{ $json.info[54].valueCaption }}",
              "type": "string"
            },
            {
              "id": "b6bb968c-b7a3-4d62-82c2-ff1d33d46732",
              "name": "Time to Repair",
              "value": "={{ $json.info[55].valueCaption }}",
              "type": "string"
            },
            {
              "id": "7b52276b-6970-4e8e-beba-b847a4c36ab6",
              "name": "Main Asset",
              "value": "={{ $json.info[56].valueCaption }}",
              "type": "string"
            },
            {
              "id": "407a4fb7-6212-4720-8862-5cbe585a1d8e",
              "name": "Time to Respond",
              "value": "={{ $json.info[57].valueCaption }}",
              "type": "string"
            },
            {
              "id": "963ec59b-1efb-40ee-bc16-594d18cb9067",
              "name": "Due Date",
              "value": "={{ $json.info[59].valueCaption }}",
              "type": "string"
            },
            {
              "id": "09ff65c5-0ece-4ada-b60b-0abb2fa79297",
              "name": "SR Custom Text 1",
              "value": "={{ $json.info[60].valueCaption }}",
              "type": "string"
            },
            {
              "id": "6aba81d4-531a-4e03-868a-a2bb729eeda0",
              "name": "SR Custom Text 2",
              "value": "={{ $json.info[61].valueCaption }}",
              "type": "string"
            },
            {
              "id": "e09d0e18-8e13-4781-8ca2-4ae3190bdf64",
              "name": "Merged to",
              "value": "={{ $json.info[62].valueCaption }}",
              "type": "string"
            },
            {
              "id": "0fbe36a9-b110-48a8-9397-66c825107f3d",
              "name": "Account",
              "value": "={{ $json.info[63].valueCaption }}",
              "type": "string"
            },
            {
              "id": "97acdf8d-1330-422a-8c69-cb5b3d918b6c",
              "name": "Escalation Level",
              "value": "={{ $json.info[64].valueCaption }}",
              "type": "string"
            },
            {
              "id": "2385a4d4-a865-4f2b-b098-13945ccd8d66",
              "name": "Classification",
              "value": "={{ $json.info[65].valueCaption }}",
              "type": "string"
            },
            {
              "id": "3a6e7dd5-2c89-4e47-8126-d230f0c3f063",
              "name": "Admin group",
              "value": "={{ $json.info[66].valueCaption }}",
              "type": "string"
            },
            {
              "id": "dbb1ae74-44ce-44dd-9792-c9f22f97e3fc",
              "name": "Service Record Type",
              "value": "={{ $json.info[68].valueCaption }}",
              "type": "string"
            },
            {
              "id": "71d66e84-e462-4112-a51d-d1d55d2542dd",
              "name": "Store",
              "value": "={{ `=SWITCH(INDIRECT(\"L\"&ROW()),\n \"Liguanea\", 103,\n \"SF Liguanea\", 103,\n\n \"Mandeville\", 104,\n \"PF Mandeville\", 104,\n\n \"Manchester\", 105,\n \"SF Manchester\", 105,\n\n \"Greater Portmore\", 106,\n \"SF Greater Portmore\", 106,\n\n \"Portmore Mall\", 107,\n \"SF Portmore Mall\", 107,\n\n \"Duhaney Park\", 108,\n \"SF Duhaney Park\", 108,\n\n \"Westgate\", 109,\n \"SF Westgate\", 109,\n\n \"Harbour View\", 111,\n \"SF Harbour View\", 111,\n\n \"Blue Diamond\", 112,\n \"SF Blue Diamond\", 112,\n\n \"D&Y Sav\", 118,\n \"D&Y Supermarket\", 118,\n\n \"Junction\", 119,\n \"SF Junction\", 119,\n\n \"Brunswick\", 121,\n \"SF Brunswick\", 121,\n\n \"Savanna-La-Mar\", 122,\n \"SF Savanna-La-Mar\", 122,\n\n \"Whitter Village\", 123,\n \"PF Whitter Village\", 123,\n\n \"Ocho Rios\", 124,\n \"PF Ocho Rios\", 124,\n\n \"Burke Road\", 125,\n \"SF Burke Road\", 125,\n\n \"May Pen\", 126,\n \"SSF May Pen\", 126,\n\n \"Bogue\", 127,\n \"PF Bogue\", 127,\n\n \"Braeton\", 128,\n \"PF Braeton\", 128,\n \"Portmore Pines\", 128,\n\n \"Boulevard\", 129,\n \"SF Boulevard\", 129,\n\n \"Linstead\", 901,\n \"JRs BW Linstead\", 901,\n\n \"JRs May Pen\", 902,\n \"JRs BW May Pen\", 902,\n\n \"Head Office\", 1000,\n \"Warehouse TP\", 998\n-1)` }}",
              "type": "string"
            },
            {
              "id": "7c5e010b-d5d3-436f-937c-83486e2ac0ce",
              "name": "Owner",
              "value": "={{ `=SWITCH(INDIRECT(\"D\"&ROW()),\n \"Cheddi Goss\", \"cheddi.goss@pgjam.com\",\n \"Orane Phillips\", \"orane.phillips@pgjam.com\",\n \"Deron Dobson\", \"deron.dobson@pgjam.com\",\n \"Aaron Cummings\", \"aaron.cummings@pgjam.com\",\n \"COREY GRANT\", \"corey.grant@pgjam.com\",\n \"Keyaka Neil\", \"keyaka.neil@pgjam.com\",\n \"Gawayne Bromfield\", \"gawayne.bromfield@pgjam.com\",\n \"Tiffany Garrick\", \"Tiffany.Garrick@pgjam.com\",\n \"Christine Whyte\", \"christine.whyte@pgjam.com\",\n \"Owen Clashing\", \"owen.clashing@pgjam.com\",\n \"Alana Thompson\", \"alana.thompson@pgjam.com\",\n-1)` }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        352,
        128
      ],
      "id": "216dd951-7120-41ca-b4e0-60027297ac0d",
      "name": "Api Tickets"
    },
    {
      "parameters": {
        "content": "## Sort and Delete rows\nA sort node is used delete from descending order rather than ascending. This makes sure the delete row node always deletes tickets from the bottom-up, preventing index shifts from ruining the mapping.\n\nIf any tickets found in the sheet that are not in the API, get removed from the sheet. ",
        "height": 304,
        "width": 720
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1200,
        352
      ],
      "typeVersion": 1,
      "id": "d4cf6e66-58d3-4e33-a8e9-0f623d1006b3",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Login credentials\nWorkflow is scheduled to run every 5 mins.\n\nAn HTTP Login node is used to proof the user is an admin of SysAid using SysAid's api.\n\n\nA set node is used to get the ID from the header of the user, extracted and saved to use later to retrieve info from SysAid.\n",
        "height": 352,
        "width": 608
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -992,
        320
      ],
      "typeVersion": 1,
      "id": "0d8ad5d1-11c0-475f-8452-4debde785ba6",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Get Ticket's that are open\n\nHTTP node to grab all the status'. \n\nSet node to grab the relevant status' that are deemed \"Open\".\n\nHTTP node to grab tickets that have the status that are open.\n\nGrab all fields from the Api Ticket HTTP node.",
        "height": 352,
        "width": 816
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -288,
        -80
      ],
      "typeVersion": 1,
      "id": "e1ada421-e914-408e-99be-c394b2fff051",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Append and Read\n\nTickets are appended in the google sheet followed by a Read sheet node.\n\nThe read sheet node returns row number and is set using a set node. This will help determine which rows from the sheet are not drawn from the api for deletion.",
        "height": 352,
        "width": 704
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -224,
        640
      ],
      "typeVersion": 1,
      "id": "eae94c4e-f86b-40a6-abda-2c79ee34cee5",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Merge and Compare\n\nA simple merge node that merges the info from the API and the info from the google sheet.\n\nThe code node then does a comparison using info from the merge node. If a ticket that's in the sheet is not found from the Api, it gets marked for deletion.",
        "height": 368,
        "width": 496
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        624,
        288
      ],
      "typeVersion": 1,
      "id": "0944deaf-b43a-47ca-a7f7-d50ce3e8b696",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "78eb24b5-326c-47d2-b38b-18e6b4b4742a",
              "leftValue": "={{ $json.rowIndex }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1456,
        496
      ],
      "id": "ba694f6b-90c5-4ace-8f93-56205e2eea55",
      "name": "If1"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "117E9W7q0sZzQ5JM5Pt1cclrYUk-Gx_h9X3Wf7N5Xef0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1484546938,
          "mode": "list",
          "cachedResultName": "Open Ticket Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/117E9W7q0sZzQ5JM5Pt1cclrYUk-Gx_h9X3Wf7N5Xef0/edit#gid=1484546938"
        },
        "startIndex": "={{ $json.rowIndex }}"
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1712,
        480
      ],
      "id": "687c6b6c-c1ac-4f85-9369-7e716d175cb7",
      "name": "Delete rows or columns from sheet",
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": true,
      "credentials": {
        "googleApi": {
          "id": "Fr8gBQ8Q5zSOdGfU",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "rowIndex",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        1264,
        496
      ],
      "id": "d3e8a036-a462-406f-95be-ce2cc2275986",
      "name": "Sort"
    },
    {
      "parameters": {
        "content": "                           Date formatting and sorting.\n         The date is formatted to ISO (yyyy-MM-dd) instead of a custom format. \n         The date is also sorted from ascending (earliest - latest).",
        "height": 240,
        "width": 768
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -256,
        336
      ],
      "typeVersion": 1,
      "id": "41053dcc-a385-4332-9aaa-ab6afc09052c",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json[\"Request Time\"] }}",
        "format": "custom",
        "customFormat": "yyyy-MM-dd HH:mm:ss",
        "outputFieldName": "Request Time",
        "options": {
          "includeInputFields": true
        }
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -176,
        432
      ],
      "id": "5a8c8b56-c9b7-4ccd-a5be-330506c8fa8d",
      "name": "Date & Time Format"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "Request Time"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        352,
        432
      ],
      "id": "3b75178e-d765-4a77-81a9-cbced73aef82",
      "name": "Sort by Time"
    }
  ],
  "connections": {
    "Login credentials": {
      "main": [
        [
          {
            "node": "SessionID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ApiTickets": {
      "main": [
        [
          {
            "node": "Api Tickets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "SheetRow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Status List": {
      "main": [
        [
          {
            "node": "Open Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SheetRow": {
      "main": [
        [
          {
            "node": "Sheet Tickets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Closed Tickets": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Find Closed Tickets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Login credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SessionID": {
      "main": [
        [
          {
            "node": "Get Status List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Open Status": {
      "main": [
        [
          {
            "node": "ApiTickets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheet Tickets": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Api Tickets": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Date & Time Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Delete rows or columns from sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time Format": {
      "main": [
        [
          {
            "node": "Sort by Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort by Time": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "ff6de8c5-2c37-417d-9e27-b8862cc43cf3",
  "triggerCount": 1,
  "tags": []
}