projects-Ysd2mlnYuIjFjUID.json
{"createdAt":"2025-07-21T21:13:18.102Z","updatedAt":"2025-07-25T17:01:28.000Z","id":"Ysd2mlnYuIjFjUID","name":"Projects","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-304,-32],"id":"e1f3cf34-cf22-4bb9-aff8-de73db31dbdd","name":"When clicking ‘Execute workflow’"},{"parameters":{"jsCode":"const setCookieHeader = $json.headers['set-cookie'];\n\nconst jsession = setCookieHeader.find(c => c.startsWith('JSESSIONID=')).split(';')[0];\nconst serverid = setCookieHeader.find(c => c.startsWith('SERVERID=')).split(';')[0];\n\nreturn [\n  {\n    json: {\n      cookieHeader: `${jsession}; ${serverid}`\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[48,-32],"id":"ea0adf40-4f42-46b4-9354-a1809985c287","name":"SessionID"},{"parameters":{"method":"POST","url":"https://pgam.sysaidit.com/api/v1/login","sendBody":true,"contentType":"raw","rawContentType":"application/JSON","body":"{   \"user_name\": \"Ratkinson\",   \"password\": \"Wizzy3004%25%5E%26\" }","options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-128,-112],"id":"f7ae5994-dcad-4a74-9580-9b1c756018a8","name":"Login"},{"parameters":{"url":"https://pgam.sysaidit.com/api/v1/list?entity=task","sendHeaders":true,"headerParameters":{"parameters":[{"name":"=Cookie","value":"={{ $json.cookieHeader }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[224,-112],"id":"e4b20614-5da4-4d7b-902d-b3362c8aaca4","name":"ApiProjects","retryOnFail":true},{"parameters":{"authentication":"serviceAccount","operation":"appendOrUpdate","documentId":{"__rl":true,"value":"117E9W7q0sZzQ5JM5Pt1cclrYUk-Gx_h9X3Wf7N5Xef0","mode":"id"},"sheetName":{"__rl":true,"value":612771832,"mode":"list","cachedResultName":"Projects","cachedResultUrl":"https://docs.google.com/spreadsheets/d/117E9W7q0sZzQ5JM5Pt1cclrYUk-Gx_h9X3Wf7N5Xef0/edit#gid=612771832"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["ProjectID"],"schema":[{"id":"ProjectID","displayName":"ProjectID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Title","displayName":"Title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"hash","displayName":"hash","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[688,-112],"id":"7ac82c8e-7163-4358-aee3-3ef45713f549","name":"Append or update row in sheet","credentials":{"googleApi":{"id":"yW4wsBNp1riA7tC9","name":"Google Service Account account"}}},{"parameters":{"jsCode":"function simpleHash(str) {\n  let hash = 0;\n  if (str.length === 0) return hash.toString();\n  for (let i = 0; i < str.length; i++) {\n    const chr = str.charCodeAt(i);\n    hash = ((hash << 5) - hash) + chr;\n    hash |= 0; // Convert to 32-bit integer\n  }\n  return hash.toString();\n}\n\nreturn $input.all().flatMap(item => {\n  const data = item.json;\n\n  if (data.id === 'project_id' && Array.isArray(data.values)) {\n    return data.values.map(project => {\n      const source = `${project.id}:${project.caption}`;\n      const hash = simpleHash(source);\n\n      return {\n        json: {\n         ProjectID: project.id,\n         Title: project.caption,\n         hash: hash\n        }\n      };\n    });\n  }\n\n  return [];\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[432,-112],"id":"e6e9204d-ee6b-472d-b069-4e2b97f3871b","name":"API Project Hash","alwaysOutputData":true},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"117E9W7q0sZzQ5JM5Pt1cclrYUk-Gx_h9X3Wf7N5Xef0","mode":"id"},"sheetName":{"__rl":true,"value":"Projects","mode":"name"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[320,96],"id":"b8aaf10e-076f-47d3-aa4c-2871f4e56e1d","name":"Get row(s) in sheet","executeOnce":true,"retryOnFail":true,"credentials":{"googleApi":{"id":"yW4wsBNp1riA7tC9","name":"Google Service Account account"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Login","type":"main","index":0}]]},"Login":{"main":[[{"node":"SessionID","type":"main","index":0}]]},"SessionID":{"main":[[{"node":"ApiProjects","type":"main","index":0}]]},"ApiProjects":{"main":[[{"node":"API Project Hash","type":"main","index":0}]]},"API Project Hash":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]},"Append or update row in sheet":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"bddc18db-51e3-41b8-8258-089469f88d90","triggerCount":0,"tags":[]}