sql-workflow-.json
{
  "createdAt": "2025-08-18T17:58:43.004Z",
  "updatedAt": "2025-09-01T19:23:43.895Z",
  "id": "gY35g77PTE3nJsmG",
  "name": "SQL Workflow",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "3d038160-84cd-4053-84f3-5f3cc2a90d32",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -1248,
        16
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e09b351f-c6be-4a33-a937-cf2eb5fbbd4c",
              "name": "Creation Date",
              "value": "={{ $json.CREATION_DATE }}",
              "type": "string"
            },
            {
              "id": "bee0b78a-4d76-40eb-aa88-df6e72acffed",
              "name": "Item Description",
              "value": "={{ $json.ITEM_DESCRIPTION }}",
              "type": "string"
            },
            {
              "id": "6db3bde7-27ee-4fd0-96cd-fd1894965f74",
              "name": "Item Code",
              "value": "={{ $json.ITEM_CODE }}",
              "type": "string"
            },
            {
              "id": "336f2499-b9c4-40d5-8cc7-da05822a0f78",
              "name": "Store Number",
              "value": "={{ $json.STORE_NUMBER }}",
              "type": "string"
            },
            {
              "id": "13a925af-7ce5-433e-98bb-d4d07d7174fe",
              "name": "VendorID",
              "value": "={{ $json.VENDOR_ID }}",
              "type": "string"
            },
            {
              "id": "11a8998b-712a-4c57-80a7-73ff597f390b",
              "name": "Case Size",
              "value": "={{ $json.CASE_SIZE }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -864,
        -144
      ],
      "id": "cfb85e4d-bb82-4fef-bba5-defc7c6ef64c",
      "name": "Items"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  F09 AS CREATION_DATE,\n  P.F01 AS ITEM_CODE,\n  F02 AS ITEM_DESCRIPTION,\n  R.F1056 AS STORE_NUMBER,\n  C.F27 AS VENDOR_ID,\n  C.F19 AS CASE_SIZE\nFROM POS_TAB P\nINNER JOIN RPT_ITM_N R ON R.F01 = P.F01\nINNER JOIN COST_TAB C ON C.F01 = P.F01\nWHERE F09 >= DATEADD(DAY, -180, CAST(GETDATE() AS DATE))\nORDER BY F09 DESC;"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        -1056,
        -144
      ],
      "id": "e7716632-f15a-460e-9478-031a1ce8d946",
      "name": "Items SQL",
      "credentials": {
        "microsoftSql": {
          "id": "kzaFzy84PjbdnsE4",
          "name": "Microsoft SQL account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e61fa250-9e2e-4ff2-ba1e-ee24d645f108",
              "name": "VendorID",
              "value": "={{ $json.VENDORID }}",
              "type": "string"
            },
            {
              "id": "f75ac905-b86a-4620-a9e9-38380bac3f7e",
              "name": "Vendor Name",
              "value": "={{ $json.VENDORNAME }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -864,
        160
      ],
      "id": "efb5ac6d-3f14-428f-869c-be2a324b5010",
      "name": "Vendor Name and ID"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  F27 VENDORID, \n  F334 VENDORNAME \n  FROM VENDOR_TAB"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        -1056,
        160
      ],
      "id": "c34ed30a-6c22-4d62-8dd8-b7ae9b8cddb2",
      "name": "Vendor Name and ID1",
      "credentials": {
        "microsoftSql": {
          "id": "kzaFzy84PjbdnsE4",
          "name": "Microsoft SQL account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -160,
        0
      ],
      "id": "8187e0f4-b318-44e5-9d2a-a8fd06ebcbfe",
      "name": "Merge",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1DlD2kXCDmiaiQ5kSn3LebfPlxjpfrcDNLeI0NLIVze8",
          "mode": "list",
          "cachedResultName": "Sql query",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DlD2kXCDmiaiQ5kSn3LebfPlxjpfrcDNLeI0NLIVze8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Items",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DlD2kXCDmiaiQ5kSn3LebfPlxjpfrcDNLeI0NLIVze8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "Creation Date"
          ],
          "schema": [
            {
              "id": "Creation Date",
              "displayName": "Creation Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Item Description",
              "displayName": "Item Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Item Code",
              "displayName": "Item Code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Store Number",
              "displayName": "Store Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "VendorID",
              "displayName": "VendorID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Case Size",
              "displayName": "Case Size",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -656,
        -144
      ],
      "id": "74b4df89-a109-49c4-8bf6-8946d5eb0506",
      "name": "Items Sheet",
      "credentials": {
        "googleApi": {
          "id": "Fr8gBQ8Q5zSOdGfU",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1DlD2kXCDmiaiQ5kSn3LebfPlxjpfrcDNLeI0NLIVze8",
          "mode": "list",
          "cachedResultName": "Sql query",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DlD2kXCDmiaiQ5kSn3LebfPlxjpfrcDNLeI0NLIVze8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 602113986,
          "mode": "list",
          "cachedResultName": "Vendor and ID",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DlD2kXCDmiaiQ5kSn3LebfPlxjpfrcDNLeI0NLIVze8/edit#gid=602113986"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "VendorID"
          ],
          "schema": [
            {
              "id": "VendorID",
              "displayName": "VendorID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Vendor Name",
              "displayName": "Vendor Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -656,
        160
      ],
      "id": "5ce64a58-1961-4bf8-adc9-97fab07a7c82",
      "name": "Vendor and ID sheet",
      "credentials": {
        "googleApi": {
          "id": "Fr8gBQ8Q5zSOdGfU",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toFile",
        "binaryPropertyName": "data1",
        "options": {
          "fileName": "Items.xls"
        }
      },
      "name": "Items file",
      "type": "n8n-nodes-base.spreadsheetFile",
      "position": [
        -416,
        -144
      ],
      "typeVersion": 1,
      "id": "2855092a-e7b2-4d43-8b87-f59ba59c123b"
    },
    {
      "parameters": {
        "operation": "toFile",
        "binaryPropertyName": "data2",
        "options": {
          "fileName": "Vendor.xls"
        }
      },
      "name": "Vendors file",
      "type": "n8n-nodes-base.spreadsheetFile",
      "position": [
        -416,
        160
      ],
      "typeVersion": 1,
      "id": "e844cf83-4607-4148-bd5a-067350fc68f8"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/mnt/n8n-share/Items.xls",
        "dataPropertyName": "data1",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        48,
        0
      ],
      "id": "b46eaf76-aec5-4e07-8173-babe1cbff9f3",
      "name": "Write Items to shared drive"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/mnt/n8n-share/Vendor.xls",
        "dataPropertyName": "data2",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        256,
        0
      ],
      "id": "fcc219e6-dbb1-4c44-848d-3ed0cce0f041",
      "name": "Write Vendors to shared drive"
    },
    {
      "parameters": {
        "jsCode": "// Collect all IDs coming from the query results\nconst queryItemIds = new Set(\n  $items(\"Items\").map(item => String(item.json.VendorID).trim())\n);\n\n// Filter rows from the sheet that are NOT in the query results\nconst missingItems = $items(\"Sheet Items\").filter(item => {\n  const sheetItemId = String(item.json.VendorID).trim();\n  return !queryItemIds.has(sheetItemId);\n});\n\n// Return the list of items to mark for deletion\nreturn missingItems.map(item => ({\n  json: {\n    VendorID: item.json.VendorID,\n    rowIndex: item.json.row_number // needed so you can delete the exact row\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        -672
      ],
      "id": "40372e8f-8967-4479-8737-417a3aa305be",
      "name": "Find Closed Query",
      "retryOnFail": true,
      "executeOnce": true,
      "alwaysOutputData": false
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -608,
        -672
      ],
      "id": "7b244442-a7c5-4ee5-aea0-fda91971463f",
      "name": "Merge1",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "512c626c-8aff-4e22-a631-8b1039b8d928",
              "name": "row_number",
              "value": "={{ $json.row_number }}",
              "type": "number"
            },
            {
              "id": "f38a735f-8e21-4259-90e5-0275a0ecea4d",
              "name": "VendorID",
              "value": "={{ $json.VendorID }}",
              "type": "number"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -400,
        -896
      ],
      "id": "08a15440-286d-4c4d-85f6-68a9213e26d0",
      "name": "Sheet Items"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "1DlD2kXCDmiaiQ5kSn3LebfPlxjpfrcDNLeI0NLIVze8",
          "mode": "list",
          "cachedResultName": "Sql query",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DlD2kXCDmiaiQ5kSn3LebfPlxjpfrcDNLeI0NLIVze8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Items",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DlD2kXCDmiaiQ5kSn3LebfPlxjpfrcDNLeI0NLIVze8/edit#gid=0"
        },
        "startIndex": "={{ $json.rowIndex }}"
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        64,
        -688
      ],
      "id": "1ef98e39-79cb-44d2-bc96-698b90991465",
      "name": "Delete rows or columns from sheet",
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": true,
      "credentials": {
        "googleApi": {
          "id": "Fr8gBQ8Q5zSOdGfU",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "rowIndex",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        -96,
        -688
      ],
      "id": "bcc608e1-f53c-458c-b105-fa80d578656d",
      "name": "Sort"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1DlD2kXCDmiaiQ5kSn3LebfPlxjpfrcDNLeI0NLIVze8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Items",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DlD2kXCDmiaiQ5kSn3LebfPlxjpfrcDNLeI0NLIVze8/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        240,
        -688
      ],
      "id": "96f02512-ec0b-4e94-83ae-62e7747584db",
      "name": "Get row(s) in sheet1",
      "executeOnce": true,
      "retryOnFail": true,
      "credentials": {
        "googleApi": {
          "id": "Fr8gBQ8Q5zSOdGfU",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8aebaecf-7dd4-48d9-8f8b-8cb743ee02a8",
              "name": "Creation Date",
              "value": "={{ $json[\"Creation Date\"] }}",
              "type": "string"
            },
            {
              "id": "ee71c690-374f-41d6-8761-7dd320a57561",
              "name": "Item Description",
              "value": "={{ $json[\"Item Description\"] }}",
              "type": "string"
            },
            {
              "id": "41e77a8a-31b4-43de-82bc-f359c5181d15",
              "name": "Item Code",
              "value": "={{ $json[\"Item Code\"] }}",
              "type": "number"
            },
            {
              "id": "a9b52799-a86e-492a-aa7b-3f2633ad4e3f",
              "name": "Store Number",
              "value": "={{ $json[\"Store Number\"] }}",
              "type": "number"
            },
            {
              "id": "f542eb82-5e4b-40a8-b66d-cd190f4f7690",
              "name": "VendorID",
              "value": "={{ $json.VendorID }}",
              "type": "number"
            },
            {
              "id": "d6d1a16a-b74b-43c0-9364-1ba32f873603",
              "name": "Case Size",
              "value": "={{ $json[\"Case Size\"] }}",
              "type": "number"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        -688
      ],
      "id": "412e06b2-36b7-42c2-b9b7-797b4881e871",
      "name": "No row number"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1DlD2kXCDmiaiQ5kSn3LebfPlxjpfrcDNLeI0NLIVze8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Items",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DlD2kXCDmiaiQ5kSn3LebfPlxjpfrcDNLeI0NLIVze8/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -592,
        -896
      ],
      "id": "1263be12-f70a-4a29-9225-529caee4e2e4",
      "name": "Get items in sheet",
      "executeOnce": true,
      "retryOnFail": true,
      "credentials": {
        "googleApi": {
          "id": "Fr8gBQ8Q5zSOdGfU",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "03014dea-854b-4773-abbf-1c15e1bc57c6",
              "leftValue": "={{ $json.rowIndex }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -160,
        -880
      ],
      "id": "50c00f51-af01-4000-a17a-6adb639e3b87",
      "name": "If"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1DlD2kXCDmiaiQ5kSn3LebfPlxjpfrcDNLeI0NLIVze8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Items",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DlD2kXCDmiaiQ5kSn3LebfPlxjpfrcDNLeI0NLIVze8/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        64,
        -864
      ],
      "id": "4f319bb0-aac2-4a33-9355-f87b1580dd5c",
      "name": "Get row(s) in sheet",
      "executeOnce": true,
      "retryOnFail": true,
      "credentials": {
        "googleApi": {
          "id": "Fr8gBQ8Q5zSOdGfU",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8aebaecf-7dd4-48d9-8f8b-8cb743ee02a8",
              "name": "Creation Date",
              "value": "={{ $json[\"Creation Date\"] }}",
              "type": "string"
            },
            {
              "id": "ee71c690-374f-41d6-8761-7dd320a57561",
              "name": "Item Description",
              "value": "={{ $json[\"Item Description\"] }}",
              "type": "string"
            },
            {
              "id": "41e77a8a-31b4-43de-82bc-f359c5181d15",
              "name": "Item Code",
              "value": "={{ $json[\"Item Code\"] }}",
              "type": "number"
            },
            {
              "id": "a9b52799-a86e-492a-aa7b-3f2633ad4e3f",
              "name": "Store Number",
              "value": "={{ $json[\"Store Number\"] }}",
              "type": "number"
            },
            {
              "id": "f542eb82-5e4b-40a8-b66d-cd190f4f7690",
              "name": "VendorID",
              "value": "={{ $json.VendorID }}",
              "type": "number"
            },
            {
              "id": "d6d1a16a-b74b-43c0-9364-1ba32f873603",
              "name": "Case Size",
              "value": "={{ $json[\"Case Size\"] }}",
              "type": "number"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        -864
      ],
      "id": "3ffc8c53-4339-4d72-b9e1-89dbee70f36d",
      "name": "No row number1"
    }
  ],
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Items SQL",
            "type": "main",
            "index": 0
          },
          {
            "node": "Vendor Name and ID1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Items": {
      "main": [
        [
          {
            "node": "Items Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Items SQL": {
      "main": [
        [
          {
            "node": "Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vendor Name and ID1": {
      "main": [
        [
          {
            "node": "Vendor Name and ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vendor Name and ID": {
      "main": [
        [
          {
            "node": "Vendor and ID sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Write Items to shared drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Items Sheet": {
      "main": [
        [
          {
            "node": "Items file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vendor and ID sheet": {
      "main": [
        [
          {
            "node": "Vendors file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Items file": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vendors file": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Write Items to shared drive": {
      "main": [
        [
          {
            "node": "Write Vendors to shared drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Closed Query": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Find Closed Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheet Items": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Delete rows or columns from sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete rows or columns from sheet": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "No row number",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No row number": {
      "main": [
        []
      ]
    },
    "Get items in sheet": {
      "main": [
        [
          {
            "node": "Sheet Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "No row number1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No row number1": {
      "main": [
        []
      ]
    },
    "Write Vendors to shared drive": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "23e88321-cb68-4326-881a-10f7ec3ad66a",
  "triggerCount": 0,
  "tags": []
}