sql-workflow-.json
{
  "createdAt": "2025-08-18T17:58:43.004Z",
  "updatedAt": "2025-12-19T18:10:00.785Z",
  "id": "gY35g77PTE3nJsmG",
  "name": "SQL Workflow",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6db3bde7-27ee-4fd0-96cd-fd1894965f74",
              "name": "UPC",
              "value": "={{ $json.ITEM_CODE.toString().trim().slice(2) }}",
              "type": "string"
            },
            {
              "id": "bee0b78a-4d76-40eb-aa88-df6e72acffed",
              "name": "Description",
              "value": "={{ $json.ITEM_DESCRIPTION }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -864,
        -144
      ],
      "id": "cfb85e4d-bb82-4fef-bba5-defc7c6ef64c",
      "name": "Items"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "USE STORESQL;\n\nSELECT\n  MAX(F09) AS CREATION_DATE,\n  P.F01 AS ITEM_CODE,\n  MAX(F02) AS ITEM_DESCRIPTION,\n  MAX(R.F1056) AS STORE_NUMBER,\n  MAX(C.F27) AS VENDOR_ID,\n  MAX(C.F19) AS CASE_SIZE\nFROM POS_TAB P\nINNER JOIN RPT_ITM_N R ON R.F01 = P.F01\nINNER JOIN COST_TAB C ON C.F01 = P.F01\n-- WHERE F09 >= DATEADD(DAY, -180, CAST(GETDATE() AS DATE))\nGROUP BY P.F01\nORDER BY P.F01 ASC;   -- 👈 UPC / Item Code sorted ascending"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        -1056,
        -144
      ],
      "id": "e7716632-f15a-460e-9478-031a1ce8d946",
      "name": "Items SQL",
      "credentials": {
        "microsoftSql": {
          "id": "bfcJ16IsK3BLkJMK",
          "name": "Microsoft SQL account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e61fa250-9e2e-4ff2-ba1e-ee24d645f108",
              "name": "VendorID",
              "value": "={{ $json.VENDORID }}",
              "type": "string"
            },
            {
              "id": "f75ac905-b86a-4620-a9e9-38380bac3f7e",
              "name": "Vendor Name",
              "value": "={{ $json.VENDORNAME }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -368,
        240
      ],
      "id": "efb5ac6d-3f14-428f-869c-be2a324b5010",
      "name": "Vendor Name and ID"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  F27 VENDORID, \n  F334 VENDORNAME \n  FROM VENDOR_TAB"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        -560,
        240
      ],
      "id": "c34ed30a-6c22-4d62-8dd8-b7ae9b8cddb2",
      "name": "Vendor Name and ID1",
      "credentials": {
        "microsoftSql": {
          "id": "bfcJ16IsK3BLkJMK",
          "name": "Microsoft SQL account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        544,
        80
      ],
      "id": "8187e0f4-b318-44e5-9d2a-a8fd06ebcbfe",
      "name": "Merge",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1qJEKHFlP-H-1t83nJQvIfLabL1pR195x8ITOLf02thk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1051529087,
          "mode": "list",
          "cachedResultName": "Item Master",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qJEKHFlP-H-1t83nJQvIfLabL1pR195x8ITOLf02thk/edit#gid=1051529087"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "UPC"
          ],
          "schema": [
            {
              "id": "UPC",
              "displayName": "UPC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -656,
        -144
      ],
      "id": "74b4df89-a109-49c4-8bf6-8946d5eb0506",
      "name": "Items Sheet",
      "credentials": {
        "googleApi": {
          "id": "Fr8gBQ8Q5zSOdGfU",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1uiSZpStk4IIrvnDyPWk5_0yhfVEfnwJ9Eu6YZUJWJus",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 418833532,
          "mode": "list",
          "cachedResultName": "Vendor Name & ID",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uiSZpStk4IIrvnDyPWk5_0yhfVEfnwJ9Eu6YZUJWJus/edit#gid=418833532"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "VendorID"
          ],
          "schema": [
            {
              "id": "VendorID",
              "displayName": "VendorID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Vendor Name",
              "displayName": "Vendor Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -160,
        240
      ],
      "id": "5ce64a58-1961-4bf8-adc9-97fab07a7c82",
      "name": "Vendor and ID sheet",
      "credentials": {
        "googleApi": {
          "id": "Fr8gBQ8Q5zSOdGfU",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toFile",
        "binaryPropertyName": "data1",
        "options": {
          "fileName": "Items.xls"
        }
      },
      "name": "Items file",
      "type": "n8n-nodes-base.spreadsheetFile",
      "position": [
        80,
        -64
      ],
      "typeVersion": 1,
      "id": "2855092a-e7b2-4d43-8b87-f59ba59c123b"
    },
    {
      "parameters": {
        "operation": "toFile",
        "binaryPropertyName": "data2",
        "options": {
          "fileName": "Vendor.xls"
        }
      },
      "name": "Vendors file",
      "type": "n8n-nodes-base.spreadsheetFile",
      "position": [
        80,
        240
      ],
      "typeVersion": 1,
      "id": "e844cf83-4607-4148-bd5a-067350fc68f8"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/mnt/n8n-share/Items.xls",
        "dataPropertyName": "data1",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        752,
        80
      ],
      "id": "b46eaf76-aec5-4e07-8173-babe1cbff9f3",
      "name": "Write Items to shared drive"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/mnt/n8n-share/Vendor.xls",
        "dataPropertyName": "data2",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        960,
        80
      ],
      "id": "fcc219e6-dbb1-4c44-848d-3ed0cce0f041",
      "name": "Write Vendors to shared drive"
    },
    {
      "parameters": {
        "content": "## Query Items\nThis workflow runs once a day. It extracts all the items barcode and description to be put in a google sheet. This is also used relative to an appsheet, where when a user scans an item's barcode, inputs other information, it would automatically input the description for that item based on it's UPC.",
        "height": 272,
        "width": 896
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1328,
        -272
      ],
      "id": "35302846-7f47-442e-a088-44a156236728",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1248,
        -144
      ],
      "id": "c1e37271-cdd3-42dc-bf00-5722d84ee4c2",
      "name": "Schedule Trigger"
    }
  ],
  "connections": {
    "Items": {
      "main": [
        [
          {
            "node": "Items Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Items SQL": {
      "main": [
        [
          {
            "node": "Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vendor Name and ID1": {
      "main": [
        [
          {
            "node": "Vendor Name and ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vendor Name and ID": {
      "main": [
        [
          {
            "node": "Vendor and ID sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Write Items to shared drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Items Sheet": {
      "main": [
        []
      ]
    },
    "Vendor and ID sheet": {
      "main": [
        [
          {
            "node": "Vendors file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Items file": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vendors file": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Write Items to shared drive": {
      "main": [
        [
          {
            "node": "Write Vendors to shared drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Vendors to shared drive": {
      "main": [
        []
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Items SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "2c08d576-72db-4303-9a33-0300819bac0c",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-08-18T17:58:43.004Z",
      "updatedAt": "2025-08-18T17:58:43.004Z",
      "role": "workflow:owner",
      "workflowId": "gY35g77PTE3nJsmG",
      "projectId": "jYvi0vPc2f8MZoYz"
    }
  ],
  "tags": []
}