whatsapp-.json
{
  "createdAt": "2025-08-21T20:21:13.137Z",
  "updatedAt": "2025-11-28T21:29:35.511Z",
  "id": "A30kU1rcb6mKeDG6",
  "name": "Whatsapp",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {
          "messageStatusUpdates": [
            "all"
          ]
        }
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        384,
        208
      ],
      "id": "899f1d6b-ad6a-4ee2-97e4-f08c5aa54c06",
      "name": "WhatsApp Trigger",
      "webhookId": "66bb9d99-d78c-4665-aecb-2a82faa060f8",
      "retryOnFail": false,
      "alwaysOutputData": true,
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "RfIQ1tIBJAiUJjuV",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        560,
        208
      ],
      "id": "1e398b8c-09d2-4ca6-b200-d4f4b41b3bc5",
      "name": "AI Agent",
      "retryOnFail": false
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        560,
        432
      ],
      "id": "7aff31bf-74f9-4d3d-a0aa-30eea260053a",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "xHuYe0MDGOs9IpBW",
          "name": "Local Ollama service"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "883606571504084",
        "recipientPhoneNumber": "18763514207 - ronaldo",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        912,
        208
      ],
      "id": "2db2a6c4-2b88-41dc-a16a-104d1dbfbe7e",
      "name": "Send message",
      "webhookId": "34ab7232-837d-4614-a654-b7d1dca2d4a6",
      "credentials": {
        "whatsAppApi": {
          "id": "bP42xqNMnKqIbTr5",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        160,
        176
      ],
      "id": "119c0949-cfbb-484f-a52d-4ea60d81946f",
      "name": "When chat message received",
      "webhookId": "0035dbe6-e84d-428c-909a-5db24d97d9c3"
    },
    {
      "parameters": {
        "sessionIdType": "customKey"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        928,
        528
      ],
      "id": "4aeea672-512a-4afc-a408-771c845844db",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1wt_5EpQojDnofkuBhyrbUXril4MWduLoPR_iaekR1HQ",
          "mode": "list",
          "cachedResultName": "mock api",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wt_5EpQojDnofkuBhyrbUXril4MWduLoPR_iaekR1HQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 590001501,
          "mode": "list",
          "cachedResultName": "mock api",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wt_5EpQojDnofkuBhyrbUXril4MWduLoPR_iaekR1HQ/edit#gid=590001501"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1408,
        496
      ],
      "id": "51e6724b-6ba2-440d-b18c-864e47a9b4fa",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleApi": {
          "id": "Fr8gBQ8Q5zSOdGfU",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://68767137814c0dfa653c1daf.mockapi.io/api/v1/ticketdata",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        1088,
        528
      ],
      "id": "f09b583b-00d7-48ab-8c64-2bcdee41964e",
      "name": "Ticket data"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1wt_5EpQojDnofkuBhyrbUXril4MWduLoPR_iaekR1HQ",
          "mode": "list",
          "cachedResultName": "mock api",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wt_5EpQojDnofkuBhyrbUXril4MWduLoPR_iaekR1HQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 590001501,
          "mode": "list",
          "cachedResultName": "mock api",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wt_5EpQojDnofkuBhyrbUXril4MWduLoPR_iaekR1HQ/edit#gid=590001501"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1248,
        528
      ],
      "id": "8b06d7ee-514f-4e83-8c86-141b1ce15c6e",
      "name": "ticket data",
      "credentials": {
        "googleApi": {
          "id": "Fr8gBQ8Q5zSOdGfU",
          "name": "Google Service Account account"
        }
      }
    }
  ],
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Send message": {
      "main": [
        []
      ]
    },
    "When chat message received": {
      "main": [
        []
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        []
      ]
    },
    "Ticket data": {
      "ai_tool": [
        []
      ]
    },
    "ticket data": {
      "ai_tool": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "fd191a1d-372c-45e1-b82d-d61769063f1c",
  "triggerCount": 2,
  "shared": [
    {
      "createdAt": "2025-08-21T20:21:13.137Z",
      "updatedAt": "2025-08-21T20:21:13.137Z",
      "role": "workflow:owner",
      "workflowId": "A30kU1rcb6mKeDG6",
      "projectId": "jYvi0vPc2f8MZoYz"
    }
  ],
  "tags": []
}