zabbix-test-OXC49iNv3d4RDjXe.json
{"createdAt":"2025-08-04T19:38:14.405Z","updatedAt":"2025-08-11T22:00:53.000Z","id":"OXC49iNv3d4RDjXe","name":"Zabbix test","active":false,"isArchived":false,"nodes":[{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"authToken","value":"={{ $json.result }}"}]},"options":{}},"id":"773cdacd-ce67-41e6-9f27-be4a9fc2e922","name":"Extract Token","type":"n8n-nodes-base.set","typeVersion":2,"position":[-128,-80]},{"parameters":{"method":"POST","url":"http://192.168.0.22/api_jsonrpc.php","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"user.login\",\n  \"params\": {\n    \"username\": \"Admin\",\n    \"password\": \"zabbix\"\n  },\n  \"id\": 1\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-320,-80],"id":"831005e9-2bb3-4c66-ae98-038364bca340","name":"Zabbix Login"},{"parameters":{"url":"http://192.168.0.22/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"hostgroup.get\",\n  \"params\": {\n    \"output\": \"extend\",\n    \"filter\": {\n      \"name\": \"Workstations\"\n    }\n  },\n  \"id\": 2\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[80,-80],"id":"2fdbe01d-87ad-402b-9901-7bee5d061fd2","name":"Get Group ID","credentials":{"zabbixApi":{"id":"1nhfEjWVS0UgzFD9","name":"Zabbix account"}}},{"parameters":{"url":"http://192.168.0.22/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"host.get\",\n  \"params\": {\n    \"output\": [\"hostid\", \"host\", \"name\"],\n    \"groupids\": \"24\",\n    \"tags\": [\n      {\n        \"tag\": \"STORE\",\n        \"value\": \"Duhaney Park\",\n        \"operator\": 0\n      }\n    ],\n    \"selectInterfaces\": [\"ip\"]\n  },\n  \"id\": 3\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[272,-80],"id":"b3b93ee3-d857-4ac0-a836-63a73eb265f5","name":"Get WKN Hosts","credentials":{"zabbixApi":{"id":"1nhfEjWVS0UgzFD9","name":"Zabbix account"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-400,144],"id":"0862a5c3-6597-4862-b599-031d9f379bff","name":"When clicking ‘Execute workflow’"},{"parameters":{"fileSelector":"/shared/braeton-hosts.csv","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-176,144],"id":"432aa12d-ebab-4188-8b06-63305a5e6a66","name":"Read/Write Files from Disk","alwaysOutputData":true}],"connections":{"Zabbix Login":{"main":[[{"node":"Extract Token","type":"main","index":0}]]},"Extract Token":{"main":[[{"node":"Get Group ID","type":"main","index":0}]]},"Get Group ID":{"main":[[{"node":"Get WKN Hosts","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Read/Write Files from Disk","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b341c9b3-2392-4fa3-a11f-faf01d4f07e5","triggerCount":0,"tags":[]}