zabbix-phone-line-status-.json
{
  "createdAt": "2025-09-23T19:42:41.653Z",
  "updatedAt": "2025-09-30T19:55:07.817Z",
  "id": "5YkWYGJPcAASgp1z",
  "name": "Zabbix Phone Line Status",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.0.22:10051",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zabbixApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n \"request\": \"sender data\",\n \"data\": [\n     {\n       \"host\": \"192.168.50.62\",\n       \"key\": \"trap\",\n       \"value\": \"test value\"\n     }\n   ]\n}",
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1744,
        -1712
      ],
      "id": "4e9d09dc-11a5-48bd-857b-d457d4c334d7",
      "name": "HTTP",
      "retryOnFail": false,
      "credentials": {
        "zabbixApi": {
          "id": "yJ0hjegcWJuG6BZR",
          "name": "Zabbix account"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "da61e712-3080-4cde-87f1-e681ff444664",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -1888,
        -832
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1VmsBPwvqnmQK8HJ75WaLqI1786WsKOFE9AkadnIe6-E",
          "mode": "list",
          "cachedResultName": "PGJ Store Inspections",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VmsBPwvqnmQK8HJ75WaLqI1786WsKOFE9AkadnIe6-E/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1469833957,
          "mode": "list",
          "cachedResultName": "Phone Line Status",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VmsBPwvqnmQK8HJ75WaLqI1786WsKOFE9AkadnIe6-E/edit#gid=1469833957"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "n8n Timestamp": "={{ $('Get row(s) in sheet').item.json[\"Last Timestamp\"] }}",
            "Zabbix itemid": "={{ $json.result.data[0].itemid }}"
          },
          "matchingColumns": [
            "Zabbix itemid"
          ],
          "schema": [
            {
              "id": "Store",
              "displayName": "Store",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Zabbix host",
              "displayName": "Zabbix host",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Zabbix host visible name",
              "displayName": "Zabbix host visible name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Zabbix key",
              "displayName": "Zabbix key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Zabbix itemid",
              "displayName": "Zabbix itemid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Provider",
              "displayName": "Provider",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Phone Line",
              "displayName": "Phone Line",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Last Status",
              "displayName": "Last Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Last Timestamp",
              "displayName": "Last Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "n8n Timestamp",
              "displayName": "n8n Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Active",
              "displayName": "Active",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -624,
        -848
      ],
      "id": "e48ddb09-ab8e-4bcf-8f8c-32521d74dee2",
      "name": "Update row in sheet",
      "alwaysOutputData": false,
      "credentials": {
        "googleApi": {
          "id": "Fr8gBQ8Q5zSOdGfU",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "mode": "mergeByKey",
        "propertyName1": "={{ $json.result.data[0].itemid }}",
        "propertyName2": "={{ $json[\"Zabbix itemid\"] }}"
      },
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "position": [
        -1328,
        -1712
      ],
      "typeVersion": 1,
      "id": "883d59b7-e8cc-4bd1-aa75-2fe1b6ff41f4",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const myString1 = 'ZBXD'; \nconst myString3 = '{\"request\":\"sender data\",\"data\":[{\"host\":\"192.168.16.12\",\"key\":\"pstn.line.status[+18766180050]\",\"value\":\"9\"}],\"clock\":1758817125,\"ns\":745245200}';\n\nconst datalen = myString3.length.toString(16) + '000000';\nconst reserved = '00000000';\n\n    const myBuffer1 = Buffer.from(myString1, 'utf8');\n    const myBuffer3 = Buffer.from(myString3, 'utf8');\n    return { json: { bufferData: myBuffer1.toString('hex') + '01' + datalen + reserved + myBuffer3.toString('hex') } }; // Return as hex for easy handling in n8n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1968,
        -1712
      ],
      "id": "7d82820c-364e-4d97-a665-6942fe42314d",
      "name": "Code"
    },
    {
      "parameters": {
        "command": "zabbix_sender -z 192.168.51.38 -s \"FAMILY-PC\" -k \"pstn.line.status\" -o 9\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -1552,
        -1712
      ],
      "id": "b68a82a8-22a9-495c-9696-5c3666765987",
      "name": "Execute Command"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "f9ba67d2-b558-4297-87ef-6194258705c1",
              "leftValue": "={{ $json[\"Zabbix itemid\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -1488,
        -832
      ],
      "id": "4a42fedf-f0e1-4c1d-8732-c9335518a523",
      "name": "Filter"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1VmsBPwvqnmQK8HJ75WaLqI1786WsKOFE9AkadnIe6-E",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1469833957,
          "mode": "list",
          "cachedResultName": "Phone Line Status",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VmsBPwvqnmQK8HJ75WaLqI1786WsKOFE9AkadnIe6-E/edit#gid=1469833957"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1680,
        -832
      ],
      "id": "a7d94e19-84ee-4e85-9fe2-4cc8324edfcb",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleApi": {
          "id": "Fr8gBQ8Q5zSOdGfU",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const data = item.json;\n  const last = new Date(data[\"Last Timestamp\"]);\n  let prev = data[\"n8n Timestamp\"];\n\n  if (!prev) {\n    prev = \"1970-01-01 00:00:00\";\n  }\n\n  return {\n    json: {\n      ...data,\n      lastISO: last.toISOString(),\n      prevISO: new Date(prev).toISOString()\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1264,
        -832
      ],
      "id": "6305740c-b44b-400a-b01b-1daf2f54edcc",
      "name": "Code1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5f1af19f-821e-44b7-b444-6b028e5b4858",
              "leftValue": "={{ $json.lastISO }}",
              "rightValue": "={{ $json.prevISO }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1072,
        -832
      ],
      "id": "b50964ff-ca10-4372-8bb5-5fba8742798e",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.0.22/api_jsonrpc.php",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zabbixApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"history.push\",\n  \"params\": [\n    {\n      \"itemid\": \"{{ $json[\"Zabbix itemid\"] }}\",\n      \"value\": \"{{ $json[\"Last Status\"] }}\",\n      \"clock\": \"{{ new Date($json[\"Last Timestamp\"]).getTime() / 1000 }}\"\n    }\n  ],\n  \"id\": 4\n}",
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -832,
        -848
      ],
      "id": "9a5e3de6-a20f-489f-b9d4-cc57093aa591",
      "name": "Item push",
      "credentials": {
        "zabbixApi": {
          "id": "yJ0hjegcWJuG6BZR",
          "name": "Zabbix account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.0.22/api_jsonrpc.php",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zabbixApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"history.get\",\n  \"params\": {\n    \"history\": 3, \n    \"itemids\": [\"{{ $json.result.data[0].itemid }}\"],\n    \"sortfield\": \"clock\",\n    \"sortorder\": \"DESC\",\n    \"limit\": 1\n  },\n  \"id\": 2\n}\n",
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -672,
        -672
      ],
      "id": "b5303489-e306-4edb-9b33-3005d0a0eb98",
      "name": "Item push1",
      "credentials": {
        "zabbixApi": {
          "id": "yJ0hjegcWJuG6BZR",
          "name": "Zabbix account"
        }
      }
    }
  ],
  "connections": {
    "HTTP": {
      "main": [
        []
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        []
      ]
    },
    "Code": {
      "main": [
        []
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        []
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Item push",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Item push": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Item push1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "e4539778-c54f-455c-82af-9956a51fff39",
  "triggerCount": 0,
  "tags": []
}