zabbix-test-.json
{
  "createdAt": "2025-08-13T21:53:08.988Z",
  "updatedAt": "2025-08-13T21:53:08.988Z",
  "id": "rdvNCzYT6AVYVUH5",
  "name": "Zabbix test",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "authToken",
              "value": "={{ $json.result }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e0404127-1f29-4cbd-b458-8d5be2774ed9",
      "name": "Extract Token",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -32,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.0.22/api_jsonrpc.php",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"user.login\",\n  \"params\": {\n    \"username\": \"Admin\",\n    \"password\": \"zabbix\"\n  },\n  \"id\": 1\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -224,
        0
      ],
      "id": "e078ad3a-eba0-4c80-888e-c5dc9e0338cf",
      "name": "Zabbix Login"
    },
    {
      "parameters": {
        "url": "http://192.168.0.22/api_jsonrpc.php",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zabbixApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"hostgroup.get\",\n  \"params\": {\n    \"output\": \"extend\",\n    \"filter\": {\n      \"name\": \"Workstations\"\n    }\n  },\n  \"id\": 2\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        176,
        0
      ],
      "id": "61dc403f-7908-4495-962b-4f989c3dfd50",
      "name": "Get Group ID"
    },
    {
      "parameters": {
        "url": "http://192.168.0.22/api_jsonrpc.php",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zabbixApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"host.get\",\n  \"params\": {\n    \"output\": [\"hostid\", \"host\", \"name\"],\n    \"groupids\": \"24\",\n    \"tags\": [\n      {\n        \"tag\": \"STORE\",\n        \"value\": \"Duhaney Park\",\n        \"operator\": 0\n      }\n    ],\n    \"selectInterfaces\": [\"ip\"]\n  },\n  \"id\": 3\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        368,
        0
      ],
      "id": "833bee4a-e36a-453f-96f9-c35c6bbc4466",
      "name": "Get WKN Hosts"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -272,
        224
      ],
      "id": "e2a29ec1-8467-439b-9694-b11642492971",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "fileSelector": "/files/braeton-hosts.csv",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -80,
        224
      ],
      "id": "c36f16bc-349f-445a-b5f0-9bdec3a4dc03",
      "name": "Read/Write Files from Disk",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Spreadsheet File",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 1,
      "position": [
        144,
        224
      ],
      "id": "cb55c7f2-8314-4998-8235-720576012064"
    },
    {
      "parameters": {
        "filePath": "/files/braeton-hosts.csv"
      },
      "name": "Read Binary File",
      "type": "n8n-nodes-base.readBinaryFile",
      "position": [
        -832,
        32
      ],
      "typeVersion": 1,
      "id": "28a36aa7-c0b1-4214-b20f-674e3f346365"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "482bfb48-4b7e-401e-91b8-4728976c8f2c",
              "name": "Name",
              "value": "={{ $json.Name }}",
              "type": "string"
            },
            {
              "id": "89d62a6a-3fd6-4af2-99f9-0c60302ddc80",
              "name": "IP",
              "value": "={{ $json.IP }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        352,
        224
      ],
      "id": "1c6a98c8-751c-4cbf-a74e-e3ef2bc0e160",
      "name": "Edit Fields"
    }
  ],
  "connections": {
    "Zabbix Login": {
      "main": [
        [
          {
            "node": "Extract Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Token": {
      "main": [
        [
          {
            "node": "Get Group ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Group ID": {
      "main": [
        [
          {
            "node": "Get WKN Hosts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Spreadsheet File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Spreadsheet File": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "2be617f7-ef39-4d88-9287-614c58bc4e96",
  "triggerCount": 0,
  "tags": []
}