zabbix-test-OXC49iNv3d4RDjXe.json
{"createdAt":"2025-08-04T19:38:14.405Z","updatedAt":"2025-08-12T21:55:01.000Z","id":"OXC49iNv3d4RDjXe","name":"Zabbix test","active":false,"isArchived":false,"nodes":[{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"authToken","value":"={{ $json.result }}"}]},"options":{}},"id":"773cdacd-ce67-41e6-9f27-be4a9fc2e922","name":"Extract Token","type":"n8n-nodes-base.set","typeVersion":2,"position":[-128,-80]},{"parameters":{"method":"POST","url":"http://192.168.0.22/api_jsonrpc.php","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"user.login\",\n  \"params\": {\n    \"username\": \"Admin\",\n    \"password\": \"zabbix\"\n  },\n  \"id\": 1\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-320,-80],"id":"831005e9-2bb3-4c66-ae98-038364bca340","name":"Zabbix Login"},{"parameters":{"url":"http://192.168.0.22/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"hostgroup.get\",\n  \"params\": {\n    \"output\": \"extend\",\n    \"filter\": {\n      \"name\": \"Workstations\"\n    }\n  },\n  \"id\": 2\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[80,-80],"id":"2fdbe01d-87ad-402b-9901-7bee5d061fd2","name":"Get Group ID","credentials":{"zabbixApi":{"id":"1nhfEjWVS0UgzFD9","name":"Zabbix account"}}},{"parameters":{"url":"http://192.168.0.22/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"host.get\",\n  \"params\": {\n    \"output\": [\"hostid\", \"host\", \"name\"],\n    \"groupids\": \"24\",\n    \"tags\": [\n      {\n        \"tag\": \"STORE\",\n        \"value\": \"Duhaney Park\",\n        \"operator\": 0\n      }\n    ],\n    \"selectInterfaces\": [\"ip\"]\n  },\n  \"id\": 3\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[272,-80],"id":"b3b93ee3-d857-4ac0-a836-63a73eb265f5","name":"Get WKN Hosts","credentials":{"zabbixApi":{"id":"1nhfEjWVS0UgzFD9","name":"Zabbix account"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-368,144],"id":"0862a5c3-6597-4862-b599-031d9f379bff","name":"When clicking ‘Execute workflow’"},{"parameters":{"fileSelector":"/files/braeton-hosts.csv","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-176,144],"id":"432aa12d-ebab-4188-8b06-63305a5e6a66","name":"Read/Write Files from Disk","alwaysOutputData":true},{"parameters":{"options":{}},"name":"Spreadsheet File","type":"n8n-nodes-base.spreadsheetFile","typeVersion":1,"position":[48,144],"id":"46394b11-a52f-45fb-b2ac-82962f3f36d0"},{"parameters":{"filePath":"/files/braeton-hosts.csv"},"name":"Read Binary File","type":"n8n-nodes-base.readBinaryFile","position":[-928,-48],"typeVersion":1,"id":"317b9da7-621e-44eb-8e22-cd1c9a311b0e"},{"parameters":{"assignments":{"assignments":[{"id":"482bfb48-4b7e-401e-91b8-4728976c8f2c","name":"Name","value":"={{ $json.Name }}","type":"string"},{"id":"89d62a6a-3fd6-4af2-99f9-0c60302ddc80","name":"IP","value":"={{ $json.IP }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[256,144],"id":"2f0bc744-921c-49a2-b7d6-efa65093d304","name":"Edit Fields"}],"connections":{"Zabbix Login":{"main":[[{"node":"Extract Token","type":"main","index":0}]]},"Extract Token":{"main":[[{"node":"Get Group ID","type":"main","index":0}]]},"Get Group ID":{"main":[[{"node":"Get WKN Hosts","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Read/Write Files from Disk","type":"main","index":0}]]},"Read/Write Files from Disk":{"main":[[{"node":"Spreadsheet File","type":"main","index":0}]]},"Spreadsheet File":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"53863ff9-ea19-4a24-94d3-24a8144ebbcf","triggerCount":0,"tags":[]}