zabbix-phone-line-status-.json
{
  "createdAt": "2025-09-23T19:42:41.653Z",
  "updatedAt": "2025-10-14T21:09:18.893Z",
  "id": "5YkWYGJPcAASgp1z",
  "name": "Zabbix Phone Line Status",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "da61e712-3080-4cde-87f1-e681ff444664",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -1744,
        -976
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1VmsBPwvqnmQK8HJ75WaLqI1786WsKOFE9AkadnIe6-E",
          "mode": "list",
          "cachedResultName": "PGJ Store Inspections",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VmsBPwvqnmQK8HJ75WaLqI1786WsKOFE9AkadnIe6-E/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1469833957,
          "mode": "list",
          "cachedResultName": "Phone Line Status",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VmsBPwvqnmQK8HJ75WaLqI1786WsKOFE9AkadnIe6-E/edit#gid=1469833957"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "n8n Timestamp": "={{ new Date().toISOString().slice(0, 19).replace(\"T\", \" \") }}",
            "Zabbix itemid": "={{ $json.result.data[0].itemid }}"
          },
          "matchingColumns": [
            "Zabbix itemid"
          ],
          "schema": [
            {
              "id": "Store",
              "displayName": "Store",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Zabbix host",
              "displayName": "Zabbix host",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Zabbix host visible name",
              "displayName": "Zabbix host visible name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Zabbix key",
              "displayName": "Zabbix key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Zabbix itemid",
              "displayName": "Zabbix itemid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Provider",
              "displayName": "Provider",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Phone Line",
              "displayName": "Phone Line",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Last Status",
              "displayName": "Last Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Last Timestamp",
              "displayName": "Last Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "n8n Timestamp",
              "displayName": "n8n Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Active",
              "displayName": "Active",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -544,
        -992
      ],
      "id": "e48ddb09-ab8e-4bcf-8f8c-32521d74dee2",
      "name": "Update row in sheet",
      "alwaysOutputData": false,
      "credentials": {
        "googleApi": {
          "id": "Fr8gBQ8Q5zSOdGfU",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1VmsBPwvqnmQK8HJ75WaLqI1786WsKOFE9AkadnIe6-E",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1469833957,
          "mode": "list",
          "cachedResultName": "Phone Line Status",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VmsBPwvqnmQK8HJ75WaLqI1786WsKOFE9AkadnIe6-E/edit#gid=1469833957"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1488,
        -976
      ],
      "id": "a7d94e19-84ee-4e85-9fe2-4cc8324edfcb",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleApi": {
          "id": "Fr8gBQ8Q5zSOdGfU",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const data = item.json;\n\n  const lastRaw = data[\"Last Timestamp\"];\n  const prevRaw = data[\"n8n Timestamp\"];\n\n  const lastDate = new Date(lastRaw);\n  const prevDate = new Date(prevRaw || \"1970-01-01 00:00:00\");\n\n  // If invalid, use default or null-safe fallback\n  const lastISO = isNaN(lastDate) ? \"1970-01-01T00:00:00.000Z\" : lastDate.toISOString();\n  const prevISO = isNaN(prevDate) ? \"1970-01-01T00:00:00.000Z\" : prevDate.toISOString();\n\n  return {\n    json: {\n      ...data,\n      lastISO,\n      prevISO\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1264,
        -976
      ],
      "id": "6305740c-b44b-400a-b01b-1daf2f54edcc",
      "name": "Code1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5f1af19f-821e-44b7-b444-6b028e5b4858",
              "leftValue": "={{ $json.lastISO }}",
              "rightValue": "={{ $json.prevISO }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1040,
        -976
      ],
      "id": "b50964ff-ca10-4372-8bb5-5fba8742798e",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.0.22/api_jsonrpc.php",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zabbixApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"history.push\",\n  \"params\": [\n    {\n      \"itemid\": \"{{ $json[\"Zabbix itemid\"] }}\",\n      \"value\": \"{{ $json[\"Last Status\"] }}\",\n      \"clock\": \"{{ new Date($json[\"Last Timestamp\"]).getTime() / 1000 }}\"\n    }\n  ],\n  \"id\": 4\n}",
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -800,
        -992
      ],
      "id": "9a5e3de6-a20f-489f-b9d4-cc57093aa591",
      "name": "Item push",
      "credentials": {
        "zabbixApi": {
          "id": "yJ0hjegcWJuG6BZR",
          "name": "Zabbix account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.0.22/api_jsonrpc.php",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zabbixApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}",
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -736,
        -704
      ],
      "id": "850c2764-d0a5-43df-b9de-a112a719ee4e",
      "name": "Item create",
      "executeOnce": true,
      "credentials": {
        "zabbixApi": {
          "id": "yJ0hjegcWJuG6BZR",
          "name": "Zabbix account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.0.22/api_jsonrpc.php",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zabbixApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"host.get\",\n  \"params\": {\n    \"output\": [\"hostid\", \"host\", \"name\"],\n    \"filter\": {\n      \"name\": [\"{{ $('Get row(s) in sheet1').item.json[\"Zabbix host visible name\"] }}\"]\n    }\n  },\n  \"id\": 4\n}",
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1344,
        -672
      ],
      "id": "ba2305f6-9943-4986-94c0-b3d4af2f2ebf",
      "name": "Host get",
      "executeOnce": false,
      "credentials": {
        "zabbixApi": {
          "id": "yJ0hjegcWJuG6BZR",
          "name": "Zabbix account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1VmsBPwvqnmQK8HJ75WaLqI1786WsKOFE9AkadnIe6-E",
          "mode": "list",
          "cachedResultName": "PGJ Store Inspections",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VmsBPwvqnmQK8HJ75WaLqI1786WsKOFE9AkadnIe6-E/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1469833957,
          "mode": "list",
          "cachedResultName": "Phone Line Status",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VmsBPwvqnmQK8HJ75WaLqI1786WsKOFE9AkadnIe6-E/edit#gid=1469833957"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Zabbix itemid": "={{ $json[\"Zabbix itemid\"] }}",
            "row_number": "={{ $json.row_number }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Store",
              "displayName": "Store",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Zabbix host",
              "displayName": "Zabbix host",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Zabbix host visible name",
              "displayName": "Zabbix host visible name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Zabbix key",
              "displayName": "Zabbix key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Zabbix itemid",
              "displayName": "Zabbix itemid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Provider",
              "displayName": "Provider",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Phone Line",
              "displayName": "Phone Line",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Last Status",
              "displayName": "Last Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Last Timestamp",
              "displayName": "Last Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "n8n Timestamp",
              "displayName": "n8n Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Active",
              "displayName": "Active",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -416,
        -704
      ],
      "id": "46255987-c95c-440f-9615-e52b4ce07330",
      "name": "Update row in sheet1",
      "alwaysOutputData": false,
      "credentials": {
        "googleApi": {
          "id": "Fr8gBQ8Q5zSOdGfU",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1VmsBPwvqnmQK8HJ75WaLqI1786WsKOFE9AkadnIe6-E",
          "mode": "list",
          "cachedResultName": "PGJ Store Inspections",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VmsBPwvqnmQK8HJ75WaLqI1786WsKOFE9AkadnIe6-E/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1469833957,
          "mode": "list",
          "cachedResultName": "Phone Line Status",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VmsBPwvqnmQK8HJ75WaLqI1786WsKOFE9AkadnIe6-E/edit#gid=1469833957"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Zabbix host visible name",
              "lookupValue": "PSTN - Braeton"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1488,
        -720
      ],
      "id": "42b357ee-7b4e-4a90-95a9-e0d94636d968",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleApi": {
          "id": "Fr8gBQ8Q5zSOdGfU",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const sheetRows = $items(\"Get row(s) in sheet1\"); // all sheet rows\nconst createdItemIds = $json[\"result\"][\"itemids\"]; // from item.create response\n\n// Map itemids to sheet rows based on order\nconst output = sheetRows.map((row, index) => {\n  return {\n    json: {\n      ...row.json,\n      \"Zabbix itemid\": createdItemIds[index] // update with corresponding itemid\n    }\n  };\n});\n\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -576,
        -704
      ],
      "id": "76a6a42e-0abe-4d3d-a9b7-55e1f12b0554",
      "name": "Code"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      jsonrpc: \"2.0\",\n      method: \"item.create\",\n      params: items.map(item => ({\n        name: `PSTN line Status :+${item.json[\"Phone Line\"]}`,\n        key_: item.json[\"Zabbix key\"],\n        hostid: $input.first().json.hostid, // or dynamic from host.get\n        type: 2,\n        value_type: 3,\n        delay: \"0s\"\n      })),\n      id: 1\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -896,
        -704
      ],
      "id": "1677aac2-63c1-4667-a7ff-c285b5721473",
      "name": "Code2"
    },
    {
      "parameters": {
        "fieldToSplitOut": "result",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1200,
        -672
      ],
      "id": "ad802f15-680a-40cb-8711-3d84267c338a",
      "name": "Split Out"
    },
    {
      "parameters": {
        "mode": "mergeByIndex"
      },
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "position": [
        -1056,
        -704
      ],
      "typeVersion": 1,
      "id": "d0a46d99-e781-47e4-910f-fdccc52862a4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.0.22/api_jsonrpc.php",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zabbixApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"item.update\",\n  \"params\": {\n    \"itemid\": \"{{ $json[\"Zabbix itemid\"] }}\",\n    \"name\": \"{{ $json[\"newItemName\"] }}\"\n  },\n  \"id\": 1\n}\n",
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -848,
        -1232
      ],
      "id": "eb4f0c05-7b41-42d6-a11c-bcff32b76fca",
      "name": "Item update",
      "credentials": {
        "zabbixApi": {
          "id": "yJ0hjegcWJuG6BZR",
          "name": "Zabbix account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const data = item.json;\n  // Construct new name in Zabbix format\n  data.newItemName = `PSTN line status :+${data[\"Phone Line\"]}`;\n  return { json: data };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1072,
        -1232
      ],
      "id": "6b0b934b-3531-4bab-a9a3-5a48ac0dabcc",
      "name": "Code4"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1VmsBPwvqnmQK8HJ75WaLqI1786WsKOFE9AkadnIe6-E",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1469833957,
          "mode": "list",
          "cachedResultName": "Phone Line Status",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VmsBPwvqnmQK8HJ75WaLqI1786WsKOFE9AkadnIe6-E/edit#gid=1469833957"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Zabbix host visible name",
              "lookupValue": "PSTN - West Gate"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1280,
        -1232
      ],
      "id": "9c708fd8-1b71-44bc-9e1a-6e19f92dd529",
      "name": "Get row(s) in sheet3",
      "credentials": {
        "googleApi": {
          "id": "Fr8gBQ8Q5zSOdGfU",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "height": 240,
        "width": 1152
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1520,
        -1072
      ],
      "id": "ce32197e-8994-48c3-b0f9-424b8dbd5b3b",
      "name": "Sticky Note"
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        []
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Item push",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Item push": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item create": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Host get": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Host get",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet1": {
      "main": [
        []
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Item create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code4": {
      "main": [
        [
          {
            "node": "Item update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet3": {
      "main": [
        [
          {
            "node": "Code4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "17663279-0355-4130-84aa-eea00603035e",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-09-23T19:42:41.653Z",
      "updatedAt": "2025-09-23T19:42:41.653Z",
      "role": "workflow:owner",
      "workflowId": "5YkWYGJPcAASgp1z",
      "projectId": "jYvi0vPc2f8MZoYz"
    }
  ],
  "tags": []
}